<% provide(:title, 'Interests & Careers - Pathway Search') %>
<div class="banner" style="margin-top: -30px;padding-top:40px;">
   <div class="container">
      <h1>Pathway Search</h1>  
   </div>
</div>
<div id="white-strip-pathway">
    <div class="container">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4 step">
                    <div class="numberCircle">1</div> My Details
                </div>

                <div class="col-md-4 step current">
                    <div class="numberCircle current-circle">2</div> Choose Interests & Careers
                </div>

                <div class="col-md-4 step">
                    <div class="numberCircle">3</div> Results and selection
                </div>

            </div>
        </div>

    </div>
</div>


<div id="page">

	<div class="container">
		<div class="col-md-12 login-card">
			<div class="col-md-12">
Begin<br />
<h1>choose tags</h1>

okay so you're a <%= @year_of_study.to_i.ordinalize %> year <%= @course %> student

<h2>let's choose some tags</h2>

<form action="<%= pathway_search_view_results_path %>" method="get">

pretend they picked something


<input type="hidden" name="chosen_tags" value="Maths,Logic Engineer">
<br />
okay you picked Maths and Logic Engineer



<input type="hidden" value="<%= @year_of_study %>" name="year">
<input type="hidden" value="<%= @course %>" name="course">

<br />
<button type="submit">results</button>
</form>

</div>
</div>
</div>
</div>