<% provide(:title, 'Pathway Results') %>
<div class="banner" style="margin-top: -30px;padding-top:40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Select Modules</h1>
      </div>
    </div>
  </div>
</div>
<div id="page" style="padding-top:30px;">
  <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="col-md-12 login-card">
        <h3><%= @year_of_study.to_i.ordinalize %> Year</h3>
        <!--groups-->
        <% @groups.each do |group| %>       
        <div class="col-md-4 col-md-offset-1 login-card">
          <h3><%= @group.name %></h3>
          <!--choices as buttons, once a button is clicked next group shows-->
        </div>
        <% end %>
      </div>
      <!--Change to course id when aqib pushes-->
      <%= if exists_next_year_for(1, 1) %>
        <h1>hi</h1>
      <% end %>






        <%= @year_of_study.to_i.ordinalize %> year <%= @course %> student <br />

        who picked

        <br />

        <%= @chosen_tags %> <br />

        <br />

        <h1>Results</h1> <br />

        <br />

        <% @results.each do |result| %>

        <%= result %> <br />   
        <%= link_to "Open page >", result.first, method: :get, class: "btn btn-lg btn-small" %><br /> <br />     <br /> <br />     

        <% end %>

