<h1><%= @course.name %><br/></h1>
<% year = 2 %>
<% group = 1 %>
<div id = "log"></div>
<div align="center" style="margin-top: 10px">
	<%  @course.year_structures.each do |y| %> 
		<button id=<%= "btn_year_#{y.read_attribute_before_type_cast('year_of_study')}" %>  type="button">
			<%= y.year_of_study %>
		</button>
	<%  end %>
	<button id="btn_all_years"  type="button">show all</button>

	<%  @course.year_structures.each do |y| %> 
		<div id=<%= "div_year_#{y.read_attribute_before_type_cast('year_of_study')}" %>>
			Required modules<br/>
			<% y.groups.each do |grp| %>
				<% if grp.name == "required" %>
					<% grp.uni_modules.each do |y_req_module| %>
						<%= " - #{y_req_module[:name]} (#{y_req_module[:credits]} credits)" %> <br/>
					<% end %>
				<% end %>
			<% end %>
			<% y.groups.each do |grp| %>
				<% if grp.name == "optional" %>
					<br/>
					<%= "Select #{grp.total_credits} credits from #{grp.uni_modules.size} modules" %>
					<br/>
					<% grp.uni_modules.each do |y_opt_module| %>
						<%= " - #{y_opt_module[:name]} (#{y_opt_module[:credits]} credits)" %> <br/>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<%  end %>

</div>


<script type="text/javascript">
(function() {
	// this will hold arrays of modules for each year
	// required_modules[0] - first year
	// required_modules[0][0] - first year's modules that can go to any semester
	// required_modules[0][1] - first year's 1st semester
	// required_modules[0][2] - first year's 2nd semester
	// required_modules[0][3] - first year's year long modules
	var required_modules = [];
	// oprional modules groups per year
	var optional_modules = [];
	var optional_modules_selected = [];

	// show and hide year div
	function showYear(divs, year){
		for(i=0; i<divs.length; i++){
			if(i!=year)	$(divs[i]).slideUp();
		}
		$(divs[year]).slideDown();
	}

	function log(str){
		console.log(str);
	}
	// year, group, index
	function select_button_pressed(y, g, i){
		$("#btn_opt_select_year_"+y+"_group_"+g+"_index_"+i).prop('disabled', true);
	}

	function optional_button_pressed(_year, _i){
		log(_year + ", " + _i);
		target = document.getElementById("div_opt_year_" + _year);
		console.log (optional_modules[_year-1][_i]);
		target.innerHTML = "";
		for(i=0; i<optional_modules[_year-1][_i].uni_modules.length; i++){
			target.innerHTML += "<button id =\"btn_opt_select_year_"+_year+"_group_"+_i+"_index_"+i+"\">" + 
			optional_modules[_year-1][_i].uni_modules[i].name + "</button><br/>";
		}

		for(i=0; i<optional_modules[_year-1][_i].uni_modules.length; i++){
			(function(_year_, _i_, i_){
				button = document.getElementById("btn_opt_select_year_" + _year_ + "_group_" + _i_+"_index_"+i_);
				button.addEventListener("click", function(){
					select_button_pressed(_year_,_i_,i_);
				});
			})(_year, _i, i);
		}
	}

	// update UI - call every time the page is reloaded and/or new module is added to
	// the year structure
	function first_run(){

		// get nested course JSON object from rails
		var data = '<%=raw @course.to_json(
			include:
				{year_structures:
					{include:
						{groups:
							{:include => :uni_modules}}}}).sub("'", "\\\\'") %>';
		var js_course = jQuery.parseJSON(data);

		// populate year divs with relevant information.
		// generate table and buttons for optional modules
		for(year=1; year<=js_course.year_structures.length; year++){
			// find target <div> on the page
			var targetDiv = document.getElementById("div_year_" + (year)); 
			// assume 0th group is the required modules group
			var required_group = js_course.year_structures[year-1].groups[0].uni_modules;
			// sort modules
			var modules_year_long = [];
			var modules_fisrt_semester = [];
			var modules_second_semester = [];
			var modules_any_semester = [];
			for(module=0; module<required_group.length; module++){
				if     (required_group[module].semester == 3) modules_year_long.push(required_group[module]);
				else if(required_group[module].semester == 2) modules_second_semester.push(required_group[module]);
				else if(required_group[module].semester == 1) modules_fisrt_semester.push(required_group[module]);
				else 									      modules_any_semester.push(required_group[module]);
			}
			var required_modules_this_year = [];
			required_modules_this_year.push(modules_any_semester);
			required_modules_this_year.push(modules_fisrt_semester);
			required_modules_this_year.push(modules_second_semester);
			required_modules_this_year.push(modules_year_long);
			required_modules.push(required_modules_this_year);

			var optional_modules_this_year = [];
			var optional_modules_selected_this_year = [];
			for(grp=1; grp<js_course.year_structures[year-1].groups.length; grp++){
				optional_modules_this_year.push(js_course.year_structures[year-1].groups[grp]);
				optional_modules_selected_this_year.push(false);
			}
			optional_modules.push(optional_modules_this_year);
			optional_modules_selected.push(optional_modules_selected_this_year);


			// build a table HTML code11
			var myTable =
			"<table id =\"results_table_" + year + "\">"+
				"<tr>"+
					"<th>Semester 1</th>"+
					"<th>Semester 2</th>"+
				"</tr>";
			var s1 = 0; // keeping track of column positions
			var s2 = 0;
			for(i=0; i<modules_year_long.length; i++){
				myTable +=
				"<tr>"+
					"<td colspan=2>" + modules_year_long[i].name + "</td>"+
				"</tr>";
				s1++;
				s2++;
			}
			for(i=s1; i<4; i++){
				myTable +=
				"<tr>"+
					"<td>?</td>"+
					"<td>?</td>"+
				"</tr>";
			}
			myTable += "</table><div id=\"optional_buttons_year_"+year+"\"></div><div>";
			
			
			
			targetDiv.innerHTML = myTable;



			var myTableOnPage = document.getElementById('results_table_'+year);
			//myTableOnPage.rows[0].cells[1].innerHTML = 'Hello';
			for(i=0; i<modules_fisrt_semester.length; i++){
				myTableOnPage.rows[s1+1].cells[0].innerHTML = modules_fisrt_semester[i].name;
				s1++;
			}
			for(i=0; i<modules_second_semester.length; i++){
				myTableOnPage.rows[s2+1].cells[1].innerHTML = modules_second_semester[i].name;
				s2++;
			}
			for(i=0; i<modules_any_semester.length; i++){
				if(s2<s1){
					myTableOnPage.rows[s2+1].cells[1].innerHTML = modules_any_semester[i].name;
					s2++;
				}else{
					myTableOnPage.rows[s1+1].cells[0].innerHTML = modules_any_semester[i].name;
					s1++;
				}
			}


			opt_buttons_div = document.getElementById("optional_buttons_year_"+year);
			for(i=0; i<optional_modules[year-1].length; i++){	
				out = "<button id = \"btn_opt_year_"+year+"_group_"+i+"\">Get " + 
					optional_modules[year-1][i].total_credits + 
					" credits";
					opt_buttons_div.innerHTML += out;
			}
			opt_buttons_div.innerHTML += "<div id = \"div_opt_year_" + year + "\"></div>";


			for(i=0; i<optional_modules[year-1].length; i++){
				(function(_year, _i){
					button = document.getElementById("btn_opt_year_" + _year + "_group_" + _i);
					button.addEventListener("click", function(){
						optional_button_pressed(_year, _i);
					});
				})(year, i);	
			}
		}
	}


	$(document).ready(function(){

		var total_years = 0;
		var btns = [];
		var divs = [];
		for(i=1; i<10; i++){
			var btn = document.getElementById("btn_year_"+i);
			var div = document.getElementById("div_year_"+i);
			if(!btn) break;
			else{
				$(div).hide();
				total_years = i;
				divs.push(div);
				btns.push(btn);
			}

		}
		for(var i=0; i<btns.length; i++){
			(function(_i){
				$(btns[_i]).click(function () {
					showYear(divs, _i);
				});
			})(i);
		}
		$("#btn_all_years").click(function () {
			for(i=0; i<divs.length; i++){
				$(divs[i]).slideDown();
			}
		});

		first_run();


		// for debugging purposes only
		// console.log(required_modules);
		// console.log(optional_modules);
	});


})();
</script>