<h1><%= @course.name %><br/></h1>
<% year = 2 %>
<% group = 1 %>
<div id = "log"></div>
<div align="center" style="margin-top: 10px">
	<%  @course.year_structures.each do |y| %> 
		<button id=<%= "btn_year_#{y.read_attribute_before_type_cast('year_of_study')}" %> class="btn btn-lg btn-block" type="button">
			<%= y.year_of_study %>
		</button>
		<div id=<%= "div_year_#{y.read_attribute_before_type_cast('year_of_study')}" %>>
			Required modules<br/>
			<% y.groups.each do |grp| %>
				<% if grp.name == "required" %>
					<% grp.uni_modules.each do |y_req_module| %>
						<%= " - #{y_req_module[:name]} (#{y_req_module[:credits]} credits)" %> <br/>
					<% end %>
				<% end %>
			<% end %>
			<% y.groups.each do |grp| %>
				<% if grp.name == "optional" %>
					<br/>
					<%= "Select #{grp.total_credits} credits from #{grp.uni_modules.size} modules" %>
					<br/>
					<% grp.uni_modules.each do |y_opt_module| %>
						<%= " - #{y_opt_module[:name]} (#{y_opt_module[:credits]} credits)" %> <br/>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<%  end %>
	<button id="btn_all_years" class="btn btn-lg btn-block" type="button">show all</button>
</div>


<script type="text/javascript">
	function doLog(logObj, message){
		logObj.innerHTML += message;
	}

	function showYear(divs, year, logObj){
		for(i=0; i<divs.length; i++){
			if(i!=year)	$(divs[i]).slideUp();
		}
		$(divs[year]).slideDown();
	}

	function updateUI(tableArea){
		var data = '<%=raw @course.to_json(
			include:
				{year_structures:
					{include:
						{groups:
							{:include => :uni_modules}}}}).sub("'", "\\\\'") %>';
		//data = data.replace(/[\\"']/g, '\\$&').replace(/\u0000/g, '\\0');
		var js_course = jQuery.parseJSON(data);

		for(year=1; year<=js_course.year_structures.length; year++){
			var targetDiv = document.getElementById("div_year_" + (year)); //div_year_i
			targetDiv.innerHTML = "Requied modules in year " + year + "<br/>";
			var required_group = js_course.year_structures[year-1].groups[0].uni_modules;
			var modules_year_long = [];
			var modules_fisrt_semester = [];
			var modules_second_semester = [];
			var modules_any_semester = [];
			for(module=0; module<required_group.length; module++){
				if(required_group[module].semester == 3){
					modules_year_long.push(required_group[module]);
				}else if(required_group[module].semester == 2){
					modules_second_semester.push(required_group[module]);
				}else if(required_group[module].semester == 1){
					modules_fisrt_semester.push(required_group[module]);
				}else{
					modules_any_semester.push(required_group[module]);
				}
				targetDiv.innerHTML += required_group[module].name + " (" + required_group[module].credits + " credits)<br/>";
			}
			targetDiv.innerHTML += "1st semester: " + modules_fisrt_semester.length + "<br/>";
			targetDiv.innerHTML += "2nd semester: " + modules_second_semester.length + "<br/>";
			targetDiv.innerHTML += "Year long: " + modules_year_long.length + "<br/>";
			targetDiv.innerHTML += "Any semester: " + modules_any_semester.length + "<br/>";
			var myTable =
			"<table id =\"results_table_" + year + "\">"+
				"<tr>"+
					"<th>Semester 1</th>"+
					"<th>Semester 2</th>"+
				"</tr>";
			var s1 = 0;
			var s2 = 0;
			for(i=0; i<modules_year_long.length; i++){
				myTable +=
				"<tr>"+
					"<td colspan=2>" + modules_year_long[i].name + "</td>"+
				"</tr>";
				s1++;
				s2++;
			}
			for(i=s1; i<4; i++){
				myTable +=
				"<tr>"+
					"<td>?</td>"+
					"<td>?</td>"+
				"</tr>";
			}
			myTable += "</table>";
			targetDiv.innerHTML += myTable;



			var myTableOnPage = document.getElementById('results_table_'+year);
			//myTableOnPage.rows[0].cells[1].innerHTML = 'Hello';
			for(i=0; i<modules_fisrt_semester.length; i++){
				myTableOnPage.rows[s1+1].cells[0].innerHTML = modules_fisrt_semester[i].name;
				s1++;
			}
			for(i=0; i<modules_second_semester.length; i++){
				myTableOnPage.rows[s2+1].cells[1].innerHTML = modules_second_semester[i].name;
				s2++;
			}
			for(i=0; i<modules_any_semester.length; i++){
				if(s2<s1){
					myTableOnPage.rows[s2+1].cells[1].innerHTML = modules_any_semester[i].name;
					s2++;
				}else{
					myTableOnPage.rows[s1+1].cells[0].innerHTML = modules_any_semester[i].name;
					s1++;
				}
			}

		}
	}


	$(document).ready(function(){

		var total_years = 0;
		var btns = [];
		var divs = [];
		for(i=1; i<10; i++){
			var btn = document.getElementById("btn_year_"+i);
			var div = document.getElementById("div_year_"+i);
			if(!btn) break;
			else{
				$(div).hide();
				total_years = i;
				divs.push(div);
				btns.push(btn);
			}

		}
		for(var i=0; i<btns.length; i++){
			(function(_i){
				$(btns[_i]).click(function () {
					showYear(divs, _i, log);
				});
			})(i);
		}
		$("#btn_all_years").click(function () {
			for(i=0; i<divs.length; i++){
				$(divs[i]).slideDown();
			}
		});

		var tableArea = document.getElementById('div_year_1');
		updateUI(tableArea);
	});
</script>