<% provide(:title, 'Pathway Results') %>
<div class="banner" style="margin-top: -30px;padding-top:40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Pathway Search</h1>
      </div>
    </div>
  </div>
</div>
<div id="white-strip-pathway">
  <div class="container">
    <div class="col-md-12 col-md-offset-1">
      <div class="row">
        <div class="col-md-4 step">
          <div class="numberCircle">1</div> My Details
        </div>
        <div class="col-md-4 step">
          <div class="numberCircle">2</div> Choose Interests &amp; Careers
        </div>
        <div class="col-md-4 step current">
          <div class="numberCircle current-circle">3</div> Results and selection
        </div>
      </div>
    </div>
  </div>
</div>
<div id="page" style="padding-top:30px;">
  <div class="container">
    <div class="col-md-10 login-card col-md-offset-1">
      <div class="col-md-12">
        <div class="row" style="padding-top: 30px">
          <div class="login-card" id="selected">
            <h2>Your Selection:</h2>
          </div>
        </div>

        <div class="row">
          <h3><%= @year_of_study.to_i.ordinalize %> Year</h3>
          <!--groups-->
          <% @groups.each do |group| %>       
          <div class="col-md-5 login-card">
            <h3><%= group.name %></h3>
            <% @displayed = [] %>
            <% @group_selection = [] %>
            <!--choices as buttons, once a button is clicked next show a column for the remaining choices in the group or the group shows-->
            <% @results.each do |result| %>
              <% if UniModule.all_modules_in_group(group).include?(result.first) %>
                <% @displayed << result.first %>
                <% tagsmatched = result.second %>
                <div class="row login-card res-card result-card-<%= colour_code_card_group tagsmatched, @chosen_tags %> res-btn" id="<%= result.first.id %>">
                  <div class="col-md-4" style="width: 75%">
                    <p> <%= result.first.name %> </p>
                  </div>
                  <div class="col-md-1 tag-match-figure" style="font-size:18px;">
                   <%= percentage_tag tagsmatched.length, @chosen_tags.length %>
                  </div>
                  <div class="col-md-1" style="font-size: 18px; float: right">
                  <%= link_to '<i class="fa fa-info-circle" aria-hidden="true"></i>'.html_safe, result.first, method: :get %>
                  </div>
                </div>
              <% else %>
              <% end %>
            <% end %>
            <% UniModule.all_modules_in_group(group).each do |mod| %>
              <% if !@displayed.include?(mod) %>
                <% uni_mod = @results.select{ |uni_module, tagsmatched| uni_module.id == mod.id}.first %>
                <% if uni_mod.present? %>
                  <% @displayed << uni_mod %>
                  <% tagsmatched = uni_mod.second %>
                  <div class="row login-card res-card result-card-<%= colour_code_card_group tagsmatched, @chosen_tags %> res-btn" id="<%= mod.id %>">
                    <div class="col-md-4" style="width: 75%">
                      <p> <%= mod.name %> </p>
                    </div>
                    <div class="col-md-1 tag-match-figure" style="font-size:18px;">
                     <%= percentage_tag tagsmatched.length, @chosen_tags.length %>
                    </div>
                    <div class="col-md-1" style="font-size: 18px; float: right">
                    <%= link_to '<i class="fa fa-info-circle" aria-hidden="true"></i>'.html_safe, uni_mod.first, method: :get %>
                    </div>
                  </div>
                <% else %>
                  <div class="row login-card res-card result-card-orange res-btn" id="<%= mod.id %>">
                    <div class="col-md-4" style="width: 75%">
                      <p> <%= mod.name %> </p>
                    </div>
                    <div class="col-md-1 tag-match-figure" style="font-size:18px;">
                      <p> 0&#37; </p>
                    </div>
                    <div class="col-md-1" style="font-size: 18px; float: right">
                      <%= link_to '<i class="fa fa-info-circle" aria-hidden="true"></i>'.html_safe, (UniModule.find(mod)), method: :get %>
                    </div>
                  </div>
                <% end %>
              <% else %>
              <% end %>
            <% end %>
        </div>
        <% end %>
    </div>
    <div class="row" style="margin-top: 60px">
      <% if logged_in? %>
      <form>
        <div class="col-md-4">
          <button type="submit" class="btn btn-lg save-button" id="save"><span><i class="fa fa-star" aria-hidden="true"></i>  Save Pathway</span>
          </button>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" id="save=name" placeholder="Name your Pathway" required>
        </div>
      </form>
      <script>
        $(window).load(function() {
          $("#save").click(function() {
            /* get html path */
          })
        })
      </script>
      <% else %>
      <form action="/login" method="get">
        <button type="submit" class="btn btn-lg btn-disabled save-button" data-toggle="tooltip" data-placement="right" title="To save modules, you must be logged in." id="save"><span><i class="fa fa-star-o" aria-hidden="true"></i>  Save Pathway</span>
        </button>
      </form>
      <% end %>
    </div>

    <!--Change to course id when aqib pushes-->
    <% if exists_next_year_for(@course, @year_of_study) %>
    <div class="form-group" style="margin-top: 30px">
      <%= link_to "Go to next year >", "javascript:void()", method: :get, class: "btn btn-lg" %>
    </div>
    <% end %>
    <div class="form-group" style="margin-top: 30px">
      <%= link_to "< Back to previous page", "#", method: :get %>
    </div>
  </div>
</div>
</div>
</div>




