<h1><%= @course.name %><br/></h1>
<div id = "log"></div>
<div align="center" style="margin-top: 10px">
	<%  @course.year_structures.each do |y| %> 
		<button id=<%= "btn_year_#{y.read_attribute_before_type_cast('year_of_study')}" %> class="btn btn-lg btn-block" type="button">
			<%= y.year_of_study %>
		</button>
		<div id=<%= "div_year_#{y.read_attribute_before_type_cast('year_of_study')}" %>>
			Required modules<br/>
			<% y.groups.each do |grp| %>
				<% if grp.name == "required" %>
					<% grp.uni_modules.each do |y_req_module| %>
						<%= " - #{y_req_module[:name]} (#{y_req_module[:credits]} credits)" %> <br/>
					<% end %>
				<% end %>
			<% end %>
			<% y.groups.each do |grp| %>
				<% if grp.name == "optional" %>
					<br/>
					<%= "Select #{grp.total_credits} credits from #{grp.uni_modules.size} modules" %>
					<br/>
					<% grp.uni_modules.each do |y_opt_module| %>
						<%= " - #{y_opt_module[:name]} (#{y_opt_module[:credits]} credits)" %> <br/>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<%  end %>
	<button id="btn_all_years" class="btn btn-lg btn-block" type="button">show all</button>
</div>


<script type="text/javascript">
	function doLog(logObj, message){
		logObj.innerHTML += message;
	}

	function showYear(divs, year, logObj){
		for(i=0; i<divs.length; i++){
			if(i!=year)	$(divs[i]).slideUp();
		}
		$(divs[year]).slideDown();
	}


	$(document).ready(function(){
		var log = document.getElementById("log");
		var total_years = 0;
		var btns = [];
		var divs = [];
		for(i=1; i<10; i++){
			var btn = document.getElementById("btn_year_"+i);
			var div = document.getElementById("div_year_"+i);
			if(!btn) break;
			else{
				$(div).hide();
				total_years = i;
				divs.push(div);
				btns.push(btn);
			}

		}
		for(var i=0; i<btns.length; i++){
			(function(_i){
				$(btns[_i]).click(function () {
						showYear(divs, _i, log);
				});
			})(i);
		}
		$("#btn_all_years").click(function () {
			for(i=0; i<divs.length; i++){
				$(divs[i]).slideDown();
			}
		});
	});
</script>