<label>Average Module Rating: </label><% updated_comments.empty? ? average_rating = 0 : average_rating = module_average_rating(@uni_module) %>
<% number_of_stars = 0 %>
<% for i in 1..(average_rating.floor) %>
    <i class="fa fa-star star-rating" aria-hidden="true"></i>
    <% number_of_stars = number_of_stars + 1  %>
<% end %>
<% if (average_rating - average_rating.floor) > 0 %>
    <i class="fa fa-star-half-o star-rating" aria-hidden="true"></i>
    <% number_of_stars = number_of_stars + 1 %>
<% end %>
<% for j in 1..(5 - number_of_stars) %>
    <i class="fa fa-star-o star-rating" aria-hidden="true"></i>
<% end %><p>

<% if logged_in?
     module_comments = Array(current_user.comments).keep_if { |c| c.uni_module.id == @uni_module.id }

      rating = -1
      created_at = -1
      edited_at = -1

     if module_comments.length > 0 %>
        <a name="your_review" id="your_review"></a>
        <h3>Your Review</h3>
        <hr>
        <% module_comments.each do |comment| %>
          <% rating = comment.rating%>
          <div id="comment-entry-<%=comment.id%>">
            <table width="100%" border="0">
              <colgroup>
                <td>
                  <% created_at = comment.created_at %>
                  <% edited_at = comment.updated_at %>
                  <% for i in 1..comment.rating %>
                      <i class="fa fa-star star-rating" aria-hidden="true"></i>
                  <% end %>
                  <% for j in 1..(5 - comment.rating) %>
                      <i class="fa fa-star-o star-rating" aria-hidden="true"></i>
                  <% end %><p></p>
                  <p id="comment-body-<%=comment.id%>"><%= comment.body %></p>
                  <p><strong><%= comment.user.full_name %>, <%= comment.created_at.strftime('%d %B %Y at %H:%M %p')%></strong> <%= created_at != edited_at ? '(edited)' : '' %></p>
                </td>
                <% if logged_in? %>
                    <td id="edit-td" align="center">
                      <button class="btn edit-btn" id="edit-btn-<%= comment.id %>"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                    </td>
                    <td id="delete-td" align="right">
                        <button class="btn delete-btn delete red-btn" id="delete-btn-<%= comment.id %>"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                    </td>
                <% end %>
              </colgroup>
            </table>
          </div>
          <hr>
        <% end %>
    <% end %>

    <% filter_comments = [] %>
    <% updated_comments.each do |comment|
        unless module_comments.include? comment
          filter_comments << comment
        end
     end %>
<% else %>
    <% filter_comments = updated_comments %>
<% end %>

<h3>All Reviews</h3>
<% unless filter_comments.empty? %>

    <% num_comments_per_page = 5.0 %>
    <% grouped_comments = filter_comments.in_groups_of(num_comments_per_page) %>
    <% num_pages = grouped_comments.length %>

    <div id="page-links">
      <% if num_pages > 1 %>
          <a id="first-page" class="unselected_page"><< First </a>
          <a id="prev-page" class="unselected_page">< Prev</a>
          <% for i in 1..num_pages %>
              <a id="page-link-<%= i %>"><%= i %></a>
          <% end %>
          <a id="next-page" class="unselected_page"> Next ></a>
          <a id="last-page" class="unselected_page"> Last >></a>
          <br>
      <% end %>

      <label id="display-comments-number" style="margin-top:10px;">Displaying comments</label>
    </div>
    <div id="comments-section">
      <% for i in 1..num_pages %>
          <div id="page-div-<%= i %>">
            <% page_comments_group = grouped_comments[i - 1] %>
            <% page_comments_group.each do |comment|
              unless comment.nil? %>
                    <table width="100%" border="0">
                      <colgroup>
                        <td>
                          <% for i in 1..comment.rating %>
                              <i class="fa fa-star star-rating" aria-hidden="true"></i>
                          <% end %>
                          <% for j in 1..(5 - comment.rating) %>
                              <i class="fa fa-star-o star-rating" aria-hidden="true"></i>
                          <% end %><p></p>
                          <p><%= comment.body %></p>
                          <p><strong><%= comment.user.full_name %></strong><%= get_course_and_year(comment.user, " ,")%></p>
                          <p style="font-size:12px;"><%= comment.created_at.strftime("%d %B %Y at %H:%M %p") %></strong> <%= comment.created_at != comment.updated_at ? '(Edited)' : '' %></p>
                        </td>
                        <td id="helpful-td" align="right">
                        <span style="font-size:14px;margin-top:15px;" id="helpful-label-<%= comment.id %>"><%= comment.liked_users.length %></span>
                          <% if logged_in? %>
                              <% if comment.liked_users.include?(current_user) %>
                                  <button class="btn helpful-btn helpful" id="helpful-btn-<%= comment.id %>" title="Mark as helpful/unhelpful"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                              <% else %>
                                  <button class="btn helpful-btn not-helpful" id="helpful-btn-<%= comment.id %>" title="Mark as helpful/unhelpful"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                              <% end %>
                          <% else %>
                              <button class="btn btn-disabled helpful" id="helpful-btn-disabled" title="To mark a review as helpful, you must be logged in."><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                          <% end %>                         

                          </p>
                          </p>
                        </td>
                        <hr>
                      </colgroup>
                    </table>
                <% end
                   end %>
          </div>
      <% end %>
    </div>
<% else %>
    <% if !app_settings.disable_new_reviews %>
      <% if !module_comments.empty? %>
             <p>No one else has reviewed this module.</p>
      <% else %>
            <p>Be the first to review this module!</p>
      <% end %>
    <% else %>
      <p>No new reviews available</p>
    <% end %>
<% end %>
<hr>

<div id="comment-creation">
  <% if !logged_in? || (logged_in? && !current_user.is_limited) %>
      <% if logged_in? && Array(current_user.comments).keep_if { |c| c.uni_module.id == @uni_module.id }.size > 0 %>
          <div id="review-made">
            <p>You have already made a review for this module.</p>
            <a href="#module_review" class="btn" id="your-review-btn" style="margin-top:10px;text-transform: none"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;See your review</a>
          </div>
      <% elsif logged_in? %>
      <% if !app_settings.disable_new_reviews %>
          <a onclick="openCommentCreation()" id="comment-creation-link" class="comment-creation-link btn ">Add a Review</a>
          <div class="alert alert-success fade in alert-dismissable" id="comment-creation-box" style="display: none">
            <h3>Add a Review</h3>

            <%= form_for([@uni_module, @uni_module.comments.build], remote: true) do |f| %>
                <div id="rating-area">
                  <%= f.label :rating %>
                  <ul class="star-rating">
                    <li id="1">
                      <label for="comment_rating_1"><i class="fa fa-star input-star" aria-hidden="true"></i></label>
                      <%= f.radio_button :rating, 1 %>
                    </li>
                    <li id="2">
                      <label for="comment_rating_2"><i class="fa fa-star input-star" aria-hidden="true"></i></label>
                      <%= f.radio_button :rating, 2 %>
                    </li>
                    <li id="3">
                      <label for="comment_rating_3"><i class="fa fa-star input-star" aria-hidden="true"></i></label>
                      <%= f.radio_button :rating, 3 %>
                    </li>
                    <li id="4">
                      <label for="comment_rating_4"><i class="fa fa-star input-star" aria-hidden="true"></i></label>
                      <%= f.radio_button :rating, 4 %>
                    </li>
                    <li id="5">
                      <label for="comment_rating_5"><i class="fa fa-star input-star" aria-hidden="true"></i></label>
                      <%= f.radio_button :rating, 5, :checked => true %>
                    </li>
                  </ul>
                </div>
                <p id="review-area">
                  <%= f.text_area :body, placeholder: 'Please provide what is good about the module, what may be bad about the module, and how this module can improve.', rows: "10", :autofocus => true, :class => "form-control" %>
                </p>
                <p id="submit-area">
                  <%= f.submit 'Add Review', class:'btn' %>
                </p>
            <% end %>
            <% end %>
      <% else %>
      <% if !app_settings.disable_new_reviews %>
          <p>You must be logged in to add a review.</p>
      <% end %>
      <%end%>
      </div>
  <% end %>
</div>

<style>
  ul.star-rating {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    /*margin: 0;*/
    display: inline-block;
  }

  ul.star-rating li {
    list-style-type: none;
    display: inline-block;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2ab27b;
    cursor: pointer;
  }

  ul.star-rating li i{
    cursor: pointer;}

  ul.star-rating li:hover {
    color: #2ab27b;
  }

  ul.star-rating li.active, ul.star-rating li.secondary-active {
    color: #2ab27b;
  }

  ul.star-rating li.active-hover, ul.star-rating li.secondary-active-hover {
    color: #2ab27b;
  }

  ul.star-rating li input[type="radio"] {
    display: none;
  }

  .edit-rating {
    margin-right: 3px;
  }

</style>

<script>
  selected_rating = 0;

  $('ul.star-rating li').on('click', function () {
      $('ul.star-rating li').removeClass('active');
      $('ul.star-rating li').removeClass('secondary-active');
      $(this).addClass('active');
      $(this).prevAll().addClass('secondary-active');

      selected_rating = $(this).attr('id');
  });

  $('ul.star-rating').hover(function () {
      $('ul.star-rating li').hover(function () {
          $('ul.star-rating li').removeClass('active');
          $('ul.star-rating li').removeClass('secondary-active');
          $(this).addClass('active-hover');
          $(this).prevAll().addClass('secondary-active-hover');
      }, function () {
          $('ul.star-rating li').removeClass('active-hover');
          $('ul.star-rating li').removeClass('secondary-active-hover');
//          $(this).addClass('active-hover');
          $(this).prevAll().addClass('secondary-active-hover');
      })
  }, function () {
      $('ul.star-rating li').removeClass('active-hover');
      $('ul.star-rating li').removeClass('secondary-active-hover');
      $('ul.star-rating li#' + selected_rating).addClass('active');
      $('ul.star-rating li#'+ selected_rating).prevAll().addClass('secondary-active');
  })
</script>

<style>
  #delete-td {
    width: 1%;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
  }

  [id^=delete-btn] {
    text-transform: none;
  }

  #helpful-td {
    width: 10%;
    padding-left: 0px;
    padding-right: 0px;
  }

  [id^=helpful-btn] {
    text-transform: none;
    margin-left: 10px;
  }

  [id^=edit-btn] {
    text-transform: none;
    margin-left: 10px;
  }

  #edit-td {
    width: 1%;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    horiz-align: right;
  }

  .not-helpful {
    width: 81px;
  }

  .not-helpful:focus {
    width: 81px;
  }

  .helpful {
    width: 81px;
  }

  .helpful:focus {
    width: 81px;
  }

  #comments-section div {
    display: none;
  }

  #comments-section > div:first-child {
    display: block;
  }

  .selected_page {
    font-weight: bold;
    color: green;
    font-size: 16px;
  }

  .unselected_page {
    font-weight: normal;
    font-size: 14px;
  }

  .unselected_page:hover {
    text-decoration: underline;
    cursor: pointer;
  }


  .star-rating {
    color: #2ab27b;
  }

  #comment-creation-link {
    text-transform: none;
  }

  p#submit-area input {
    text-transform: none  ;
  }

  #edit-text-area{
    width: 95%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .submit-btn{
    text-transform: none;
    margin-left: 10px;
  }

  #updated-time {
    padding-left: 2%;
  }

</style>

<script>
    num_pages = <%= num_pages %>
    num_comments_per_page = <%= num_comments_per_page %>

    <!-- moves to a given page. Changes the page links and also displays the corresponding comments on page -->
    move_to_page = function (page_number) {
        //hide all pages
        $('#comments-section').children('div').each(function () {
            $(this).css("display", "none");
        });
        //show only the corresponding page
        $("#page-div-" + page_number).css("display", "block");

        //give all page links only unselected css class
        $("a[id^=page-link]").addClass("unselected_page");
        $("a[id^=page-link]").removeClass("selected_page");
        //give the corresponding page link clicked a selected css class
        $("#page-link-" + page_number).removeClass("unselected_page");
        $("#page-link-" + page_number).addClass("selected_page");
    };

    move_to_first_page = function () {
        move_to_page(1);

        $("#first-page").hide();
        $("#prev-page").hide();
        $("#next-page").show();
        $("#last-page").show();
    };

  move_to_last_page = function () {
    move_to_page(num_pages);

    $("#first-page").show();
    $("#prev-page").show();
    $("#next-page").hide();
    $("#last-page").hide();
  };

  update_display_comments_number = function () {
    if ($("#comments-section div").length > 0) {
      current_page = parseInt(($("#comments-section div:visible").first().attr('id')).replace("page-div-", ""));
      first_comment = ((current_page - 1) * num_comments_per_page) + 1;
      if (current_page == num_pages) {
        last_comment = first_comment + ($("#page-div-" + current_page + " table").length - 1);
      } else {
        last_comment = current_page * num_comments_per_page;
      }

      display_text = "Displaying comments " + first_comment + " - " + last_comment + " of " + <%= filter_comments.length %>;
      $("label#display-comments-number").html(display_text);
    }
  };

  move_to_first_page();
  update_display_comments_number();

  $("#first-page").on("click", function () {
    move_to_first_page();
    update_display_comments_number();
  });

  $("#last-page").on("click", function () {
    move_to_last_page();
    update_display_comments_number();
  });

  $("#next-page").on("click", function () {
    current_page_div_id = $("#comments-section div:visible").first().attr('id');
    next_page = parseInt(current_page_div_id.replace("page-div-", "")) + 1;

    if(next_page == num_pages) {
      move_to_last_page();
    }
    else {
      move_to_page(next_page)
    }

    update_display_comments_number();
  });

  $("#prev-page").on("click", function () {
    current_page_div_id = $("#comments-section div:visible").first().attr('id');
    prev_page = parseInt(current_page_div_id.replace("page-div-", "")) - 1;

    if(prev_page == 1) {
      move_to_first_page();
    }
    else {
      move_to_page(prev_page)
    }

    update_display_comments_number();
  });

  $("a[id^=page-link]").on("click", function (event) {

    $("#first-page").show();
    $("#prev-page").show();
    $("#next-page").show();
    $("#last-page").show();

    page_link_id = event.target.id;
    page_number = parseInt(page_link_id.replace("page-link-", ""));

    if(page_number == 1) {
      $("#first-page").hide();
      $("#prev-page").hide();
    }
    else if(page_number == num_pages) {
      $("#next-page").hide();
      $("#last-page").hide();
    }

    move_to_page(page_number);
    update_display_comments_number();
  });

  //on click method for the helpful button, makes a ajax post request
  $(".helpful-btn").on("click", function (event) {
    button_id = event.target.id;
    comment_id = parseInt(button_id.replace("helpful-btn-", ""));
    button = $("#helpful-btn-" + comment_id);
    label = $("#helpful-label-" + comment_id);

    $.ajax({
      type: "POST",
      url: "<%= comments_like_path %>",
      data: { comment_id: comment_id },
      context: document.body,
      success: function (data) {
        label.html(data.like_count);
        if (data.helpful == true) {
          button.html("<i class='fa fa-thumbs-up' aria-hidden='true'></i>");
          button.removeClass("not-helpful");
          button.addClass("helpful")
        }
        else if (data.helpful == false) {
          button.html("<i class='fa fa-thumbs-o-up' aria-hidden='true'></i>");
          button.removeClass("helpful");
          button.addClass("not-helpful")
        }
      }
    });
  });

  $("[id^=edit-btn]").on("click", function (event) {
      button_id = event.target.id;
      comment_id = parseInt(button_id.replace("edit-btn-",""));
      text = $("#comment-body-" + comment_id).text().trim();

      $("#comment-entry-" + comment_id).html("<div>" +
          "<h3 style=\"margin-left: 10px;\">Edit a Review</h3>" +
          "<form id=\"edit-form\">" +
          "<tr>" +
              "<label style=\"margin-left: 10px;\">Rating</label>" +
              "<div style=\"margin-left: 10px; display: inline-block\">" +
                  "<ul class=\"star-rating\">" +
                      "<li id=\"1\" class=\"edit-rating\"><label for=\"rating1\"><i class=\"fa fa-star input-star\" aria-hidden=\"true\"></i></label><input type=\"radio\" name=\"rating\" id=\"rating1\" value=\"1\" /></li>" +
                      "<li id=\"2\" class=\"edit-rating\"><label for=\"rating2\"><i class=\"fa fa-star input-star\" aria-hidden=\"true\"></i></label><input type=\"radio\" name=\"rating\" id=\"rating2\" value=\"2\" /></li>" +
                      "<li id=\"3\" class=\"edit-rating\"><label for=\"rating3\"><i class=\"fa fa-star input-star\" aria-hidden=\"true\"></i></label><input type=\"radio\" name=\"rating\" id=\"rating3\" value=\"3\" /></li>" +
                      "<li id=\"4\" class=\"edit-rating\"><label for=\"rating4\"><i class=\"fa fa-star input-star\" aria-hidden=\"true\"></i></label><input type=\"radio\" name=\"rating\" id=\"rating4\" value=\"4\" /></li>" +
                      "<li id=\"5\" class=\"edit-rating\"><label for=\"rating1\"><i class=\"fa fa-star input-star\" aria-hidden=\"true\"></i></label><input type=\"radio\" name=\"rating\" id=\"rating5\" value=\"5\" checked/></li>" +
                  "</ul>" +
              "</div>" +
          "</tr>" +
          "<tr>" +
          "<textarea autofocus class=\"form-control\" id=\"edit-text-area\" style=\"margin-left: 10px; margin-right: 10px; margin-bottom: 15px\"></textarea>" +
          "<a class=\"btn submit-btn\" id=\"submit-btn\"><i class=\"fa fa-floppy-o\" aria-hidden=\"true\"></i>&nbsp;&nbsp;Save edits</a>" +
          "</form>" +
          "</div>");

      radio_button_id = "";
      switch ( <%= rating%>){
        case 1:
          radio_button_id = "#rating1";
          break;
        case 2:
          radio_button_id = "#rating2";
          break;
        case 3:
          radio_button_id = "#rating3";
          break;
        case 4:
          radio_button_id = "#rating4";
          break;
        case 5:
          radio_button_id = "#rating5";
          break;
      }
      $(radio_button_id).prop("checked", true);

      $("#edit-text-area").val(text);

      $("#submit-btn").on("click", function (event) {
          edited_text = $("#edit-text-area").val();
          new_rating_val = $("input[name='rating']:checked").val();
          $.ajax({
              type: "POST",
              url: "<%= comments_edit_path %>",
              data: { edited_text: edited_text, new_rating_val: new_rating_val, comment_id: comment_id},
              context: document.body
          });

          <% if(created_at != edited_at)%>
              $("#updated-time").text(" <%= '(edited)' %>");
          <% end%>
      });

      selected_rating = <%= rating %>;
      $('ul.star-rating li#' + <%= rating %>).addClass('active');
      $('ul.star-rating li#'+ <%= rating %>).prevAll().addClass('secondary-active');

      $('ul.star-rating li').on('click', function () {
          $('ul.star-rating li').removeClass('active');
          $('ul.star-rating li').removeClass('secondary-active');
          $(this).addClass('active');
          $(this).prevAll().addClass('secondary-active');

          selected_rating = $(this).attr('id');
      });

      $('ul.star-rating').hover(function () {
          $('ul.star-rating li').hover(function () {
              $('ul.star-rating li').removeClass('active');
              $('ul.star-rating li').removeClass('secondary-active');
              $(this).addClass('active-hover');
              $(this).prevAll().addClass('secondary-active-hover');
          }, function () {
              $('ul.star-rating li').removeClass('active-hover');
              $('ul.star-rating li').removeClass('secondary-active-hover');
//          $(this).addClass('active-hover');
              $(this).prevAll().addClass('secondary-active-hover');
          })
      }, function () {
          $('ul.star-rating li').removeClass('active-hover');
          $('ul.star-rating li').removeClass('secondary-active-hover');
          $('ul.star-rating li#' + selected_rating).addClass('active');
          $('ul.star-rating li#'+ selected_rating).prevAll().addClass('secondary-active');
      })
  });

    $(".delete-btn").click(function () {
        button_id = event.target.id;
        comment_id = parseInt(button_id.replace("delete-btn-", ""));

        $.ajax({
            type: "POST",
            url: "<%= comments_delete_path %>",
            data: {comment_id: comment_id, uni_module_id: <%= @uni_module.id %>, type_delete: "module_page"},
            context: document.body,
        });
    });

    $("#new_comment").on("ajax:success", function(e, data, status, xhr) {
        $("#comment_body").val("");
        openCommentCreation();
        $("input[name='comment[rating]']").val([5]);
    });

    $("#comment-creation-box").hide();
    var openCommentCreation = function(){
        $("#comment-creation-box").slideToggle("fast");
        $("#comment-creation-link").text($(".comment-creation-link").text()==open_comment_creation?"Close box":open_comment_creation);;
    };

    var open_comment_creation;
    $(document).ready(function () {
        open_comment_creation = $(".comment-creation-link").text();
    });

</script>
