<% updated_comments = Kaminari.paginate_array(updated_comments).page(params[:page]).per(5) %>

<% unless @uni_module.comments.empty? %>

  <%= paginate updated_comments %>
  <%= page_entries_info updated_comments %>

  <hr>
  <% updated_comments.each do |comment| %>
      <% stars = "" %>
      <% for i in 1..comment.rating %>
          <% stars += "*" %>
      <% end %>
      <p>
        <strong><%= stars %> <%= comment.rating==1 ? "Star" : "Stars" %></strong>
      </p>

      <p>
        <%= comment.body %>
      </p>

      <p>
        <strong><%= comment.user.full_name %>, <%= comment.created_at.strftime("%d %B %Y at %H:%M %p") %></strong>
      </p>
      <hr>
  <%end%>
<% else %>
    <p>Be the first to review this module!</p>
<%end%>
<br>