<% updated_comments = Kaminari.paginate_array(updated_comments).page(params[:page]).per(5) %>

<% unless @uni_module.comments.empty? %>

  <%= paginate updated_comments %>
  <%= page_entries_info updated_comments %>

  <% updated_comments.each do |comment| %>
      <table width="100%" border="0">
        <colgroup>
          <td>
            <% stars = "" %>
            <% for i in 1..comment.rating %>
                <% stars += "*" %>
            <% end %>
            <p>
              <strong><%= stars %> <%= comment.rating==1 ? "Star" : "Stars" %></strong>
            </p>

            <p>
              <%= comment.body %>
            </p>

            <p>
              <strong><%= comment.user.full_name %>, <%= comment.created_at.strftime("%d %B %Y at %H:%M %p") %></strong>
            </p>
          </td>
          <td id="helpful-td" align="center">
            <label class="helpful-label" id="helpful-label-<%= comment.id %>"><%= comment.liked_users.length %></label><br>
            <button class="btn helpful-btn" id="helpful-btn-<%= comment.id %>">Helpful?</button>
          </td>
          <hr>
        </colgroup>
      </table>
  <%end%>
<% else %>
    <p>Be the first to review this module!</p>
<%end%>
<hr>

<style>
    #helpful-td {
        width: 10%;
        padding-left: 0px;
        padding-right: 0px;
    }

    [id^=helpful-btn] {
      text-transform: none;
    }

</style>

