
<% unless updated_comments.empty? %>

    <% num_comments = 5.0 %>
    <% grouped_comments = updated_comments.in_groups_of(num_comments) %>
    <% num_pages = grouped_comments.length %>

    <a id="first-page"><< First &nbsp</a>
    <a id="prev-page">< Prev &nbsp&nbsp</a>
    <% for i in 1..num_pages %>
        <a id="page-link-<%= i %>"><%= i %></a>
    <% end %>
    <a id="next-page">&nbsp&nbsp Next ></a>
    <a id="last-page">&nbsp Last >></a>
    <br>

    <div id="comments-section">
        <% for i in 1..num_pages %>
              <div id="page-div-<%= i %>">
                <% page_comments_group = grouped_comments[i - 1] %>
                <% page_comments_group.each do |comment|
                      unless comment.nil? %>
                        <table width="100%" border="0">
                      <colgroup>
                        <td>
                          <% stars = "" %>
                          <% for i in 1..comment.rating %>
                              <% stars += "*" %>
                          <% end %>
                          <p>
                            <strong><%= stars %> <%= comment.rating==1 ? "Star" : "Stars" %></strong>
                          </p>

                          <p>
                            <%= comment.body %>
                          </p>

                          <p>
                            <strong><%= comment.user.full_name %>, <%= comment.created_at.strftime("%d %B %Y at %H:%M %p") %></strong>
                          </p>
                        </td>
                        <td id="helpful-td" align="center">
                          <label class="helpful-label" id="helpful-label-<%= comment.id %>"><%= comment.liked_users.length %></label>
                          <% if logged_in? %>
                              <% if comment.liked_users.include?(current_user) %>
                                  <button class="btn helpful-btn helpful" id="helpful-btn-<%= comment.id %>">Helpful</button>
                              <% else %>
                                  <button class="btn helpful-btn not-helpful" id="helpful-btn-<%= comment.id %>">Helpful?</button>
                              <% end %>
                          <% else %>
                              <button class="btn btn-disabled" id="helpful-btn-disabled" data-toggle="tooltip" data-placement="right" title="To like a comment, you must be logged in.">Helpful?</button>
                          <% end %>
                        </td>
                        <hr>
                      </colgroup>
                    </table>
                      <% end
                 end %>
              </div>
        <% end %>
    </div>
<% else %>
    <p>Be the first to review this module!</p>
<%end%>
<hr>

<style>
    #helpful-td {
        width: 10%;
        padding-left: 0px;
        padding-right: 0px;
    }

    [id^=helpful-btn] {
      text-transform: none;
      margin-left: 10px;
    }

    .not-helpful {
      background: #2ab27b;
      box-shadow: 0px 3px 0px 0px #228e62;
      width: 81px;
    }

    .not-helpful:focus {
      background: #2ab27b;
      box-shadow: 0px 3px 0px 0px #228e62;
      width: 81px;
    }

    .helpful {
      background: dodgerblue;
      box-shadow: 0px 3px 0px 0px deepskyblue;
      width: 81px;
    }

    .helpful:focus {
      background: dodgerblue;
      box-shadow: 0px 3px 0px 0px deepskyblue;
      width: 81px;
    }

    #comments-section div { display:none; }
    #comments-section > div:first-child { display:block; }

    .selected_page {
      font-weight: bold;
      color: green;
      font-size: 16px;
    }

    .unselected_page {
      font-weight: normal;
      font-size: 14px;
    }
    
</style>

<script>
    num_pages = <%= num_pages %>

    $("a[id^=page-link]").addClass("unselected_page");
    var first_page = $("a#page-link-1");
    if (first_page) {
        first_page.removeClass("unselected_page")
        first_page.addClass("selected_page");
    }

    $("#first-page").on("click", function () {
        page_div = $("#page-div-1");

        $('#comments-section').children('div').each(function () {
            $(this).css("display", "none");
        });
        page_div.css("display", "block");

        $("a[id^=page-link]").addClass("unselected_page");
        $("a[id^=page-link]").removeClass("selected_page");
        $("#page-link-1").removeClass("unselected_page");
        $("#page-link-1").addClass("selected_page");

        $("#first-page").hide();
        $("#prev-page").hide();
        $("#next-page").show();
        $("#last-page").show();
    });

    $("#last-page").on("click", function () {
        page_div = $("#page-div-" + num_pages);

        $('#comments-section').children('div').each(function () {
            $(this).css("display", "none");
        });
        page_div.css("display", "block");

        $("a[id^=page-link]").addClass("unselected_page");
        $("a[id^=page-link]").removeClass("selected_page");
        $("#page-link-" + num_pages).removeClass("unselected_page");
        $("#page-link-" + num_pages).addClass("selected_page");

        $("#first-page").show();
        $("#prev-page").show();
        $("#next-page").hide();
        $("#last-page").hide();
    });

    $("a[id^=page-link]").on("click", function (event) {

        $("#first-page").show();
        $("#prev-page").show();
        $("#next-page").show();
        $("#last-page").show();

        page_link_id = event.target.id;
        page_number = parseInt(page_link_id.replace("page-link-", ""));
        page_div = $("#page-div-" + page_number);

        if(page_number == 1) {
            $("#first-page").hide();
            $("#prev-page").hide();
        }
        else if(page_number == num_pages) {
            $("#next-page").hide();
            $("#last-page").hide();
        }


        $('#comments-section').children('div').each(function () {
            $(this).css("display", "none");
        });
        page_div.css("display", "block");

        $("a[id^=page-link]").addClass("unselected_page");
        $("a[id^=page-link]").removeClass("selected_page");
        $(this).removeClass("unselected_page");
        $(this).addClass("selected_page");
    });

    $(".helpful-btn").on("click", function (event) {
        button_id = event.target.id
        comment_id = parseInt(button_id.replace("helpful-btn-", ""));
        button = $("#helpful-btn-" + comment_id);
        label = $("#helpful-label-" + comment_id);

        $.ajax({
            type: "POST",
            url: "<%= comments_like_path %>",
            data: { comment_id: comment_id },
            context: document.body,
            success: function (data) {
                label.html(data.like_count);
                if (data.helpful == true) {
                    button.html("Helpful")
                    button.removeClass("not-helpful")
                    button.addClass("helpful")
                }
                else if (data.helpful == false) {
                    button.html("Helpful?")
                    button.removeClass("helpful")
                    button.addClass("not-helpful")
                }
            }
        });
    });
</script>
