<% updated_comments = updated_comments.paginate(:page => params[:page], :per_page => 5) %>

<%= will_paginate updated_comments %>
<%= page_entries_info updated_comments %>

<hr>

<% updated_comments.each do |comment| %>
    <% stars = "" %>
    <% for i in 1..comment.rating %>
        <% stars += "*" %>
    <% end %>
    <p>
      <strong><%= stars %> <%= comment.rating==1 ? "Star" : "Stars" %></strong>
    </p>

    <p>
      <%= comment.body %>
    </p>

    <p>
      <strong>*#*<%= comment.user.full_name %>, <%= comment.created_at.strftime("%d %B %Y at %H:%M %p") %></strong>
    </p>
    <hr>
<%end%>
