<%= link_to("Back to list", uni_modules_path, :class => 'back-link') %>
<div>
<h2>Udpate module</h2>
	<%= form_for(@uni_module) do |m| %>
		<table>
			<tr>
				<th>Name</th>
				<td><%= m.text_field(:name) %> </td>
			</tr>
			<tr>
				<th>Code</th>
				<td><%= m.text_field(:code) %> </td>
			</tr>
			<tr>
				<th>Description</th>
				<td><%= m.text_field(:description) %> </td>
			</tr>

			<tr>
				<th>Lecturers</th>
				<td><%= m.text_field(:lecturers) %> </td>
			</tr>
		</table>

		<%= m.submit("Edit Module") %>
	<% end %>
</div>