<% provide(:title, @uni_module.code + " " +@uni_module.name) %>
<div class="banner" style="margin-top: -30px;padding-top:40px;">
   <div class="container">
      <h1>Module details</h1>
   </div>
</div>
<div id="page" style="padding-top:30px;">
<div class="container">
<div class="row">
   <div class="col-md-10 col-md-offset-1">
      <div class="row" style="margin-bottom:20px">
         <div class="col-md-6">
            <a onclick="window.history.back();" class="btn btn-default navbar-btn">< Back</a>
         </div>
         <div class="col-md-6 text-right">
            <% if logged_in? %>
            <script>
               $(window).load(function(){
               $("#save-<%= @uni_module.code%>").click(function() {
               $("#save-<%= @uni_module.code%> span").html($("#save-<%= @uni_module.code%> span").html() == '<i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;Saved' ? '<span><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;Save Module' : '<i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;Saved');
               });});
               
            </script>
            <% if current_user.uni_modules.include?(@uni_module) %>
            <button type="submit" class="btn btn-lg btn-small save-button" id="save-<%= @uni_module.code%>"><span><i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;Saved</span>
            </button>
            <% else %>
            <button type="submit" class="btn btn-lg btn-small save-button" id="save-<%= @uni_module.code%>"><span><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;Save Module</span>
            </button>
            <% end %>
            <script>
               $("button#save-<%= @uni_module.code%>").on("click", function(){
                   $.ajax({
                      type: "POST",
                       url: "<%=application_save_module_path(module_par: @uni_module) %>",
                       context: document.body
                   })
               
               
               
               
               });
               
               
            </script>
            <% else %>
            <form action="/login" method="get">
               <button type="submit" class="btn btn-lg btn-small btn-disabled save-button" data-toggle="tooltip"  data-placement="left" title="To save modules, you must be logged in."><span><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;Save Module</span>
               </button>
            </form>
            <% end %>
         </div>
      </div>
      <div class="col-md-12 login-card res-card">
         <div class="row">
            <div class="col-md-9 result-card-main">
               <h2><%= size_check @uni_module.code %> <%= size_check @uni_module.name %></h2>
               <h4>Semester <%= size_check @uni_module.semester %> - <%= @uni_module.credits %> credits</h4>
            </div>
         </div>
         <div style="margin-left:-15px;margin-top:20px;">
            <div class="col-md-12" style="margin-bottom:15px;">
               <h5>Description</h5>
               <p><%= size_check @uni_module.description %></p>
            </div>
            <div class="col-md-4" style="margin-bottom:15px;">
               <h5><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;Careers for this module</h5>
               <p>
                  <%= size_check get_careers_for_module(@uni_module).sort.join(", ") %>
               </p>
            </div>
            <div class="col-md-4" style="margin-bottom:15px;">
               <h5><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Requirements/Pre-requisites</h5>
               <p>TO DO</p>
            </div>
            <div class="col-md-4" style="margin-bottom:15px;">
               <h5><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Lecturer(s)</h5>
               <p><%= size_check @uni_module.lecturers %></p>
            </div>
            <div class="col-md-4" style="margin-bottom:15px;">
               <h5><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;Assessment methods</h5>
               <p><%= size_check @uni_module.assessment_methods %></p>
            </div>
            <div class="col-md-4" style="margin-bottom:15px;">
               <h5><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Exam:Coursework ratio</h5>
               <p>
                  <% if @uni_module.exam_percentage.nil? || @uni_module.coursework_percentage.nil?%>
                  No data available
                  <% else %>
                  <%= @uni_module.exam_percentage %>:<%= @uni_module.coursework_percentage %>
                  <% end %>
               </p>
            </div>
            <div class="col-md-4" style="margin-bottom:15px;">
               <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;Pass rate (%)</h5>
               <p><%= size_check @uni_module.pass_rate %></p>
            </div>
            <div class="col-md-12 text-right" style="margin-bottom:15px;">
               <% if !@uni_module.more_info_link.nil? %>
               <%= link_to "Open external link&nbsp;&nbsp;<i class='fa fa-external-link' aria-hidden='true'></i>".html_safe, @uni_module.more_info_link, method: :get, target: :blank, class: "external-module-link" %>
               <% end %>
            </div>
         </div>
      </div>
      <div class="col-md-12 login-card res-card">
         <div class="row">
            <div class="col-md-9 result-card-main">
               <h2>Discussion forum</h2>
               <h4>Coming soon</h4>
            </div>
         </div>
      </div>
   </div>
</div>