<%#
  Show page displays information on a particular module.
  The page consists of two sections. The module information section and a module review section.
  Partials are used to render different areas of the page. See each partial for details.
  A limited user cannot make reviews on this page.
%>

<% provide(:title, @uni_module.code + " " +@uni_module.name) %>
<% add_to_uni_module_log(@uni_module.id) %>
<div class="banner" style="padding-top:40px;">
   <div class="container">
      <h1>Module details</h1>
   </div>
</div>
<div id="page" style="padding-top:30px;">
<div class="container">
<div class="row">
   <div class="col-md-10 col-md-offset-1">
      <div class="row" style="margin-bottom:20px">
         <div class="col-md-6">
            <%= link_to '< Back', :back, :class=>"btn btn-default navbar-btn", method: :get %>
         </div>
         <div class="col-md-6 text-right">
            <% if logged_in? %>
            <script>
               $(window).load(function(){
               $("#save-<%= @uni_module.code%>").click(function() {
               $("#save-<%= @uni_module.code%> span").html($("#save-<%= @uni_module.code%> span").html() == '<i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;Saved' ? '<span><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;Save Module' : '<i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;Saved');
               });});

            </script>
            <% if current_user.uni_modules.include?(@uni_module) %>
                <button type="submit" class="btn btn-lg btn-small save-button" id="save-<%= @uni_module.code%>"><span><i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;Saved</span></button>
            <% else %>
                <button type="submit" class="btn btn-lg btn-small save-button" id="save-<%= @uni_module.code%>"><span><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;Save Module</span></button>
            <% end %>
            <% if !app_settings.disable_all_reviews %>
                <a href="#module_review" class="btn btn-lg btn-small" id="review-module" style="width: 120px"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;&nbsp; Review</a>
            <% end %>
            <script>
               $("button#save-<%= @uni_module.code%>").on("click", function(){
                   $.ajax({
                      type: "POST",
                       url: "<%=application_save_module_path(module_par: @uni_module) %>",
                       context: document.body
                   })
               });
            </script>
            <% else %>
            <form action="/login" method="get" style="display:inline-block;">
               <button type="submit" class="btn btn-lg btn-small btn-disabled save-button" data-toggle="tooltip"  data-placement="left" title="To save modules, you must be logged in."><span><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;Save Module</span>
               </button>
            </form>
            <% end %>
            <% if !app_settings.disable_all_reviews && !logged_in? %>
               <form action="/login" method="get" style="display:inline-block;">
                 <button type="submit" class="btn btn-lg btn-small btn-disabled save-button" data-toggle="tooltip"  data-placement="left" title="To review modules, you must be logged in." style="width: 170px"><span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;&nbsp; Review Module</span>
                 </button>
               </form>
            <% end %>
         </div>
      </div>
      <%= render partial: 'layouts/uni_module', locals: {uni_module: @uni_module, tags_matched: "", tags_searched_for: "", type: "show"}  %>

      <% if !app_settings.disable_all_reviews %>
          <a name="module_review" id="module_review" class="anchor"></a>
          <div class="col-md-12 login-card res-card">
             <div class="row">
                <div class="col-md-9 result-card-main" id="module-review-card">
                  <h2>Module Reviews</h2>

                  <div id="sort-comments">
                    <label>Sort by:&nbsp;&nbsp;</label>
                    <select id="sort-comments-by" class="selectpicker" id="sort-by-name" name="sort-by-name">
                      <option value="created_at">Created at</option>
                      <option value="rating">Rating</option>
                    </select>
                  </div><br>

                  <div id="comments-partial">
                    <%= render "display_comments", updated_comments: @comments %>
                  </div>

                </div>
             </div>
          </div>
      <% end %>

   </div>
</div>
</div>

<style>
    /*#rating-area input[type=radio] {display:inline-block;}*/
    #sort-comments { float: right;margin-bottom: 20px;}
    #review-area textarea {width: 100%; height: 100%;padding-top:10px;font-size:16px;padding-left:10px;}
    #edit-text-area{padding-top:10px;font-size:16px;padding-left:10px;}
    #module-review-card {
      width: 100%;
    }

</style>

<script>
    $("#sort-by-name").change(function() {
        sort_by_type = $("#sort-by-name").val();

        $.ajax({
            type: "POST",
            url: "<%= comments_sort_path %>",
            data: { sort_by_type: sort_by_type, uni_module_id: <%= @uni_module.id %>},
            context: document.body,
        })
    });
</script>
