<div class="row field-unit field-unit--string name" >
  <div class="col-xs-12">
    <div class="field-unit__label">
      <%= f.label :name_of_group%>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :name,placeholder: 'i.e Semester 1'  %>
    </div>
  </div>
</div>


<div class="row field-unit min_credits" >
  <div class="col-xs-12">
    <div class="field-unit__label">
      <%= f.label :Minimum_possible_credits_for_this_group %>
    </div>
    <div class="field-unit__field">
      <%= f.number_field :min_credits %>
    </div>
  </div>
</div>

<div class="row field-unit max_credits" >
  <div class="col-xs-12">
    <div class="field-unit__label">
      <%= f.label :Maximum_possible_credits_for_this_group %>
    </div>
    <span  class="instruction-label" id="super-admin-warning" >*if there exists a single value total credit limit for this group , then make the maximum field value equal the minimum field</span>
    <div class="field-unit__field">
      <%= f.number_field :max_credits %>
    </div>
  </div>
</div>
<div class="row field-unit field-unit--string uni_modules" >
  <div class="col-xs-12">
    <div class="field-unit__label">
      <%= f.label :Modules_to_choose_from %>
    </div>
    <div class="field-unit__field ">
      <%= f.select :uni_module_ids,possible_uni_modules_for_existing_group(year_structure){|x| [x.to_s, x.id]}, {},
                   :multiple => true,:class =>"selectize" %>
    </div>
  </div>
</div>

<div class="row field-unit compulsory" >
  <div class="col-xs-12">
    <div class="field-unit__label">
      <%= f.check_box :compulsory,{style: "margin-right: 4px"} %>  <label> Make all modules in this group compulsory? </label>
    </div>
  </div>
</div>


<script>

</script>