<!--renders space to display and print a box for each year_structure that exists in the current course being
 displayed in edit

 for modification to how year_structure cards are displayed, it can done within the for loop below.
 -->

<div class="row field-unit field-unit--select year_of_study user-field">
  <div class="col-xs-12">
    <div class="field-unit__label">


      <label style="font-size: 19px;margin-top: 20px;"> Year structure belonging to this course
        <a class="help-tooltip" style="font-size:14px" data-toggle="tooltip" data-placement="right"
           title="Each year structure contains groups of modules i.e first semester is a group. The student will pick modules from the set of groups that belong to each year structure for this course. ">
          [<i class="fa fa-question" aria-hidden="true"></i>]</a></label>

    </div>

    <div class="field-unit__field ">
        <div class="row" style="margin-top:20px;padding-left: 15px">

          <!--iterate through each year structure and produce card for each-->
          <% @course.year_structures.each_with_index do |year_structure, index| %>

              <% if index < Course.find(params[:id]).duration_in_years %>
                  <!--card-->
                  <div class="col-md-4 text-center" style="padding-left: 0px">
                    <div class="col-md-12 login-card">
                      <div class="col-md-12">
                        <div class="icon-row"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        <div>
                          <h3><%= year_structure.year_of_study.titleize %></h3>
                          <h5 style="margin-top: 20px">
                            <% if !year_structure.groups_existent? %>
                                <%= render partial: "admin/layouts/index_warning", locals: {message: "No modules have been given for this year",
                                                                                            destination: edit_admin_year_structure_path(year_structure)} %>
                            <% end %>
                            Module groups: <%= year_structure.groups.count %>
                          </h5>
                        </div>
                        <div class="form-group" style="margin-top: 30px;padding-left:0px">
                          <a href="<%= edit_admin_year_structure_path(year_structure) %>" id="<%= "modify-#{index + 1}" %>" class="btn btn-lg" style="font-size:15px"><span>Modify ></span></a>
                        </div>
                      </div>
                    </div>
                  </div>

              <% end %>

          <% end %>
        </div>

    </div>
  </div>
</div>
