<%#
   The homepage of the application which is considered to be the quick search page. From here a user can choose the type of search they wish to do.
%>
<% provide(:title, 'Search') %>
<div class="banner" style="padding-top:40px;">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <% if logged_in? %>
    <h1 style="text-shadow: 1px 1px 1px #999;">Hi <%= current_user.first_name %>, let's help you find some modules</h1>
    <% else %>
    <h1 style="text-shadow: 1px 1px 1px #999;">Hi, let's help you find some modules</h1>
    <% end %>
  </div>
</div>
<div class="row" style="margin-top: 15px">
 <div id="quick-search">
  <form action="<%= search_view_results_path %>", method="get">
   <div class="col-md-8">
    <%= text_field_tag(:chosen_tags, nil, :placeholder => 'Search anything (like modules, careers, interests, etc.)', data: {:role => "tagsinput"}, :required => true) %>
                  </div>
                  <div class="col-md-4">
                  <div class="form-group">
                    <button id='quickButton' class="btnQuick btn btn-lg btn-block" type="submit">Quick Search&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </div>
                  <% if logged_in? && !current_user.course_id.nil? && current_user.course_id != "" %>
                    <div class="checkbox">
                      <%= check_box_tag :search_course, checked=true, true %><label for="search_course"><span><%= get_course_of_user(current_user).name %> tags and modules only</span></label>
                    </div>
                  <% end %>
                </div>
              <%# sl= should log %>
              <input type="hidden" name="sl" value="true">
              </form>
              <script>
              var tags = [];
              function updateTags() {
                <% if logged_in? && !current_user.course_id.nil? && current_user.course_id != ""  %>
                  if( document.getElementById('search_course').checked) {
                    tags = <%= raw every_tag_for_course(get_course_of_user(current_user)) %>;
                  } else {
                    tags = <%=  raw @tag_names + @module_names + @module_code %>;
                  }
                <% else %>
                  tags = <%=  raw @tag_names + @module_names + @module_code %>;
                <% end %>
              }

              updateTags();

              // Remove the previously rendered search bar
              $("div.bootstrap-tagsinput").remove();
              var tagsBloodhound = new Bloodhound({
                  datumTokenizer: Bloodhound.tokenizers.whitespace,
                  queryTokenizer: Bloodhound.tokenizers.whitespace,
                  local: tags
                });

              tagsBloodhound.initialize();

              $('input#chosen_tags').tagsinput({
                typeaheadjs: {
                  name: 'tagsBloodhound',
                  source: tagsBloodhound.ttAdapter()
                },
                freeInput: false
              });

              $('#search_course').change(function() {
                updateTags();
                tagsBloodhound.clear();
                tagsBloodhound.local = tags;
                tagsBloodhound.initialize(true);
              });

              $('input#chosen_tags').focus();
            </script>
            </div>
          </div>
        </div>
      </div>
      <div id="page" style="padding-top: 30px">
       <div class="container">
        <div class="row">
         <div class="col-md-8">
          <div class="col-md-12 login-card">
           <div class="col-md-12">
            <div class="row">
             <h1>Start a Pathway Search</h1>
             <h3 style="margin-top: 20px">Let us assist you in finding the right modules which suit your interests and career aspirations.</h3>
           </div>
           <div class="row" >
             <div style="margin-top: 30px;padding-left:0px">
              <div class="form-group">
               <form action="<%= pathway_search_begin_path %>" method="get">
                <button style="width: inherit;" id='pathwayButton' class="btn btn-lg btn-block" type="submit">Begin Search&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 login-card">
     <div class="col-md-12">
      <div class="row">
       <h2>Career Search</h2>
       <h4 style="margin-top: 20px">Enter the modules you've taken and we'll give you career suggestions.</h4>
     </div>
     <div class="row" >
       <div style="margin-top: 30px;padding-left:0px">
        <div class="form-group">
         <form action="<%= career_search_begin_path %>" method="get">
          <button style="width:inherit;" id='pathwayButton' class="btn btn-lg btn-block" type="submit">Start&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
         <% if (@current_user && @current_user.department_id.present?)||(!@notices.empty?&&(@current_user.nil?||@current_user=="super_admin_accless")) %>
             <%= render "search/notice_board" %>
         <% end %>
       </div>


      </div>


