<% provide :title, "#{Course.find(params[:id]).name} Suggested Pathways" %>
<% provide :submit_button_text, 'Update' %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
  <%= link_to "<i class='fa fa-angle-left' aria-hidden='true'></i>&nbsp;&nbsp;Back".html_safe,
            :back, class: "button tool-box" %>
  </div>
</header>
<% @course.pathways.each do |pathway| %>
	<div class = "col-md-12 login-card" style="text-align: left;margin-bottom: 20px;">
    	<div class = "panel-heading">
        	<h3><span class="glyphicon glyphicon-pushpin-sm"></span><%= pathway.name %></h3>
        </div>
        <div class = "panel-body">
        	<h4>Optional modules:</h4>
        	<ul>
            	<% pathway.get_module_list.each do |uni_module| %>
            		<li><%= " - <b>#{uni_module.code}</b> #{uni_module.name}".html_safe %></li>
            	<% end %>
            </ul>
            <div align="right">
	           	<a id="edit-pathway" href="<%= edit_admin_course_pathway_path(id: pathway.id) %>" class="btn"><i class="fa fa-pencil" aria-hidden="true"></i><span>&nbsp;&nbsp;Edit</span></a>
	           	<a id="delete-pathway" href="#" class="btn red-btn" onclick="deletePathway(<%= pathway.id %>)"><i class="fa fa-trash" aria-hidden="true"></i><span>&nbsp;&nbsp;Delete</span></a>
           	</div>
		</div>
	</div>
<% end %>
<a id="new-course" class="button" href="<%= new_pathway_admin_course_pathway_path %>"><i aria-hidden='true' class='fa fa-plus'></i>&nbsp;&nbsp;New Pathway</a>

<script type="text/javascript">
	
function deletePathway(id){
        bootbox.confirm({
            title: "Delete pathwayconfirmation",
            size: "medium",
            closeButton: false,
            message: "Are you sure you want delete this pathway?",
            buttons: {
                confirm: {
                    label: 'Proceed&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>',
                    className: 'btn-success'
                },
                cancel: {
                    label: '<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel',
                    className: 'red-btn pull-left'
                }
            },
            callback: function(result) {

                   if (result == true) {
           
                    $.ajax({
                        type: "POST",
                        url: "<%= admin_departments_bulk_delete_path %>",
                        context: document.body,
                        url: "<%= application_delete_course_pathway_path %>",
						data: {
				    			pathway_id: id
				    	},

                        success() {
                            window.location.reload();
                        }
                    })

                } 


            }
        })
    };



</script>