<%#
  The main page for the settings whereby a system admin can modify the application's behaviour.
%>
<% provide(:title, 'Settings') %>
<header class="header">
  <h1 class="page-title"><i class='fa fa-cogs' aria-hidden='true'></i>&nbsp;&nbsp;Settings</h1>

<%= form_for(@app_setting, :url => { :action => "update",:method => "put" }, html: {class: "form"})do |f| %>
   <div class="header__actions">

   <button type="submit" class="button" name="commit" data-disable-with="Save settings" /><i class='fa fa-floppy-o' aria-hidden='true'></i>&nbsp;&nbsp;
Save settings</button>
      <a class="button" href="<%= admin_path %>"><i class='fa fa-times' aria-hidden='true'></i>&nbsp;&nbsp;Quit</a>
   </div>
</header>
<%= error_messages_for(f.object) %>	
<div class="col-md-12">
   <h4>
      Global site settings
   </h4>
</div>
<div class="col-md-12">
   <div class="row field-unit field-unit--checkbox is_offline" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <label for="user_is_limited">Turn Modulect offline <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="This will turn Modulect offline rendering it in accessible to users. Admins can still access the admin area and System Admins can still access Modulect.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
         </div>
         <div class="field-unit__field">
            <div class="radio" style="display:inline-block;">
               <%= f.radio_button :is_offline, false %><label for="app_setting_is_offline_false"><span>No</span></label>
            </div>
            <div class="radio" style="display:inline-block;margin-left:20px;">
               <%= f.radio_button :is_offline, true %><label for="app_setting_is_offline_true">Yes<span></span></label>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-12">
   <div class="row field-unit field-unit--checkbox is_offline" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <label for="user_is_limited">Offline message <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Message to display when site turns offline.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
         </div>
         <div class="field-unit__field">
            <%= f.text_area :offline_message %>
         </div>
      </div>
   </div>
</div>
<div class="col-md-12">
   <div class="row field-unit field-unit--checkbox is_offline" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <label for="user_is_limited">Turn off sign up <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="This will prevent users from signing up.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
         </div>
         <div class="field-unit__field">
            <div class="radio" style="display:inline-block;">
               <%= f.radio_button :allow_new_registration, true %><label for="app_setting_allow_new_registration_true"><span>No</span></label>
            </div>
            <div class="radio" style="display:inline-block;margin-left:20px;">
               <%= f.radio_button :allow_new_registration, false %><label for="app_setting_allow_new_registration_false">Yes<span></span></label>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-12">
   <h4>
     Quick search and pathway search setings
   </h4>
</div>

<div class="col-md-12">
   <div class="row field-unit field-unit--checkbox is_offline" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <label for="user_is_limited">Set the threshold for tag percentage match <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="This will be the percentage after which cards turn green.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
         </div>
         <div class="field-unit__field" style="width:20%;">
            <%= f.text_field :tag_percentage_match, :required => true, :onkeypress => 'return isNumberKey(event)' %>
         </div>
         <script>
            function isNumberKey(evt)
             {
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode != 46 && charCode > 31 
                  && (charCode < 48 || charCode > 57))
                   return false;

                return true;
             }
         </script>
      </div>
   </div>
</div>
<div class="col-md-12">
   <h4>
     Module review settings
   </h4>
</div>
<div class="col-md-12">
   <div class="row field-unit field-unit--checkbox disable_new_reviews" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <label for="user_is_limited">Disable new reviews <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="This will users from adding any more reviews. Department admins will be alerted.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
         </div>
         <div class="field-unit__field">
            <div class="radio" style="display:inline-block;">
               <%= f.radio_button :disable_new_reviews, false %><label for="app_setting_disable_new_reviews_false"><span>No</span></label>
            </div>
            <div class="radio" style="display:inline-block;margin-left:20px;">
               <%= f.radio_button :disable_new_reviews, true %><label for="app_setting_disable_new_reviews_true">Yes<span></span></label>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-12">
   <div class="row field-unit field-unit--checkbox is_offline" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <label for="user_is_limited">Disable/hide all reviews <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="This will hide reviews completely from Modulect and will also disable new reviews. Department admins will be alerted.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
         </div>
         <div class="field-unit__field">
            <div class="radio" style="display:inline-block;">
               <%= f.radio_button :disable_all_reviews, false %><label for="app_setting_disable_all_reviews_false"><span>No</span></label>
            </div>
            <div class="radio" style="display:inline-block;margin-left:20px;">
               <%= f.radio_button :disable_all_reviews, true %><label for="app_setting_disable_all_reviews_true">Yes<span></span></label>
            </div>
         </div>
      </div>
   </div>
</div>
<button style="margin-bottom:20px;" type="submit" name="commit" data-disable-with="Save settings" /><i class='fa fa-floppy-o' aria-hidden='true'></i>&nbsp;&nbsp;
Save settings</button>
<% end %>
<hr/>
<header class="header" style="margin-top:20px;">
   <h1 class="header__heading">Danger zone</h1>
</header>
<div class="col-md-12">
   <h4>
      Completely reset Modulect
   </h4>
</div>
<div class="col-md-12">
   <div class="row field-unit field-unit--checkbox is_offline" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <p>This action is irreversible, and deletes all
            <ul style="list-style: square; margin-left:20px;">
            <li>courses</li>
            <li>departments</li>
            <li>faculties</li>
            <li>modules</li>
            <li>reviews</li>
            <li>users (except system administrators)</li>
            <li>analytics</li>
            <li>any associated settings</li>
            </ul>
            </p>
         </div>
         <div class="field-unit__field" style="margin-top:20px;">
            <a id="reset-modulect-link" class="btn red-btn" style="cursor:pointer;">Reset Modulect</a>
         </div>
      </div>
   </div>
</div>
  <script>
$(document).ready(function() {
    $("#reset-modulect-link").click(function(event) {

        bootbox.prompt({
            title: "Enter your password",
            size: "medium",
            closeButton: false,
            inputType: 'password',
            buttons: {
                confirm: {
                    label: 'Proceed&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>',
                    className: 'btn-success'
                },
                cancel: {
                    label: '<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel',
                    className: 'red-btn pull-left'
                }
            },
            callback: function(result) {
                if (result != null) {


                    $.ajax({
                        type: "POST",
                        url: "<%= admin_reset_modulect_path %>",
                        context: document.body,
                        data: {
                            dwp: result
                        },
                        success() {
                            window.location.replace("<%= admin_settings_path%>");
                        }

                    })




                }
            }
        });


    });


});
</script>