
    <!--Helper which prints error message of current object if there is any on to screen(does nothing, if none)-->
    <%= error_messages_for(f.object) %>


        <!--renders attributes-->
        <div class="row field-unit field-unit--string name" >
          <div class="col-xs-12">
            <div class="field-unit__label">
              <%= f.label :name %>
            </div>
            <div class="field-unit__field">
              <%= f.text_field :name %>
            </div>
          </div>
        </div>


      <div class="row field-unit field-unit--select faculty" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :faculty%>
        </div>
        <div class="field-unit__field default-select-field">
              <%= collection_select( :faculty,:faculty_id, Faculty.all, :id, :name,{ :prompt => '',:include_blank => true})%>
          <div class="col-xs-12">
            <!--link that redirects to new of faculty-->
            <%= link_to(
                    "Create new faculty",
                    new_admin_faculty_path,
                    {class: "add-depart", :onclick => "cache()"},
                ) %>
          </div>
        </div>
      </div>
    </div>


    <div class="row field-unit field-unit--select  courses" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label "Courses associated" %>
        </div>
        <div class="field-unit__field default-select-field">
              <%= collection_select(:courses, :course_id, Course.all, :id, :name, {},:multiple=>true)%>

        </div>
      </div>
    </div>


    <div class="form-actions"><%= f.submit%></div>

    <script>
        $(document).ready(function () {

            //select statements being initialized
            $('.default-select-field select').selectize();

        });

    </script>
