<div class="form-group">
  <label for="inputName">Name</label>
  <%= f.text_field :name, class: 'form-control', :required => true %>
</div>
<div class="form-group">
  <label for="inputName">Code</label>
  <%= f.text_field :code, class: 'form-control', :required => true %>
</div>
<%= f.fields_for :departments do |d| %>
  <div class="form-group">
    <label for="department">Department <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="If a module is used across departments also select those other departments to give them permission to edit this module.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
    <%= d.text_field :department, :value => @departments.join(","), class: 'form-control', :placeholder => 'Search for department', data: {:role => "tagsinput"}, :id => "departments" %>
  </div>
<% end %>
<div class="form-group">
  <label for="description">Description <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify a description about this module which will be shown to users.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :description, class: 'form-control'%>
</div>
<div class="form-group">
  <label for="semester">Semester <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify the semester(s) this module will take place in.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.select(:semester, options_for_select([["1","1"], ["2","2"], ["1 & 2","3"], ["1 or 2", "0"]], @uni_module.semester), {}, {:class => 'form-control', :required => true, :style => 'height: 50px; padding-top: 12px; padding-bottom: 12px'} )%>
</div>
<div class="form-group">
  <label for="credits">Credits <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify the number of credits this module is worth.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :credits, class: 'form-control', :required => true %>
</div>
<div class="form-group">
  <label for="lecturers">Lecturers <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify all the names of the lecturers of this module.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :lecturers, class: 'form-control'%>
</div>
<h3>Tags</h3>
<%= f.fields_for :tags do |t| %>
  <div class="form-group">
    <label for="career_tags">Career Tags <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Enter tags that relate to the future careers that this module may lead to.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
    <%= t.text_field :career_tags, :value => @careerTags.join(","), class: 'form-control', :placeholder => 'Type to add a career tag', data: {:role => "tagsinput"}, :id => "career_tags", :required => true %>
  </div>
  <div class="form-group">
    <label for="interest_tags">Interest Tags <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Enter tags that relate to the interests this module may suit.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
    <%= t.text_field :interest_tags, :value => @interestTags.join(","), class: 'form-control', :placeholder => 'Type to add a interest tag', data: {:role => "tagsinput"}, :id => "interest_tags", :required => true %>
  </div>
<% end %>
<div class="form-group">
  <label for="assessment_methods">Assessment Methods <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify the assessment method(s) which are used in this module.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :assessment_methods, class: 'form-control'%>
</div>
<div class="form-group">
  <label for="assessment_dates">Assessment Dates <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify the approximate time which exam/coursework will take place.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :assessment_dates, class: 'form-control'%>
</div>
<div class="form-group">
  <label for="exam_percentage">Exam percentage <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify the percentage of marks which are from exams for this module.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :exam_percentage, class: 'form-control'%>
</div>
<div class="form-group">
  <label for="coursework_percentage">Coursework percentage <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify the percentage of marks which are from coursework for this module.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :coursework_percentage, class: 'form-control'%>
</div>
<div class="form-group">
  <label for="pass_rate">Pass Rate <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify the percentage of students which pass this module.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :pass_rate, class: 'form-control'%>
</div>
<div class="form-group">
  <label for="more_info_link">More info link <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Specify a link e.g. to a departmental website which has more information about this module.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
  <%= f.text_field :more_info_link, class: 'form-control'%>
</div>
<div class="form-group">
  <button class="btn btn-lg" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;<%if parent=="edit" %>Update<% else %>New<% end %> Module
  </button>
  <% if parent == "edit" %>
    &nbsp;&nbsp;&nbsp;<%= link_to "<i class='fa fa-trash' aria-hidden='true'></i> Delete module".html_safe, admin_uni_module_path(@uni_module), method: :delete,data: { confirm: "Are you sure you want to delete this module?" } , class: "table__action--destroy" %>
  <% end %>
</div>

<script>

$("div.bootstrap-tagsinput").remove();

var depts = <%= raw Department.all.pluck(:name) %>
var departmentsBloodhound = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: depts
  });

departmentsBloodhound.initialize();

$('input#departments').tagsinput({
  typeaheadjs: {
    name: 'departmentsBloodhound',
    source: departmentsBloodhound.ttAdapter()
  },
  freeInput: false
});

var careerTags = <%= raw Tag.where("type = ?", "CareerTag").pluck(:name) %>
var careerBloodhound = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: careerTags
  });

careerBloodhound.initialize();

$('input#career_tags').tagsinput({
  typeaheadjs: {
    name: 'careerBloodhound',
    source: careerBloodhound.ttAdapter()
  },
  freeInput: true
});

var interestTags = <%= raw Tag.where("type = ?", "InterestTag").pluck(:name) %>
var interestBloodhound = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: interestTags
  });

interestBloodhound.initialize();

 $('input#interest_tags').tagsinput({
  typeaheadjs: {
    name: 'interestBloodhound',
    source: interestBloodhound.ttAdapter()
  },
  freeInput: true
});

$('input').on('keypress', function(e){
  if (e.keyCode == 13){
    e.preventDefault();
  };
});

</script>