<% provide(:title, "Edit #{@uni_module.code}") %>
<header class="header index-header-area">
  <h1 id="page-title">Edit <%= @uni_module.name %> </h1>
  <div class="header__actions">
  <%= link_to "<i class='fa fa-eye' aria-hidden='true'></i>&nbsp;&nbsp;View Module".html_safe, @uni_module, method: :get, class: "button" %>
  </div>
</header>
<div id="moduleForm" class="col-md-12">
  <%= form_for @uni_module, :url => { :action => "update",:method => "put" }, html: {class: "form" } do |f|%>
    <%= error_messages_for(f.object) %>
    <%= render "form", f: f,parent: "edit"%>
  <% end %>
</div>
<script>

$("moduleForm").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});

$("div.bootstrap-tagsinput").remove();

var depts = <%= raw Department.all.pluck(:name) %>
var departmentsBloodhound = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: depts
  });

departmentsBloodhound.initialize();

$('input#departments').tagsinput({
  typeaheadjs: {
    name: 'departmentsBloodhound',
    source: departmentsBloodhound.ttAdapter()
  },
  freeInput: false
});

var careerTags = <%= raw Tag.where("type = ?", "CareerTag").pluck(:name) %>
var careerBloodhound = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: careerTags
  });

careerBloodhound.initialize();

$('input#career_tags').tagsinput({
  typeaheadjs: {
    name: 'careerBloodhound',
    source: careerBloodhound.ttAdapter()
  },
  freeInput: true
});

var interestTags = <%= raw Tag.where("type = ?", "InterestTag").pluck(:name) %>
var interestBloodhound = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: interestTags
  });

interestBloodhound.initialize();

 $('input#interest_tags').tagsinput({
  typeaheadjs: {
    name: 'interestBloodhound',
    source: interestBloodhound.ttAdapter()
  },
  freeInput: true
});

</script>
         
</div>




