<%# A template for editing a uni_module
Contains the relevant fields
For information on how toolbox works and what each local does, see the tool box render
%>
<% provide(:title, "Edit #{@uni_module.code}") %>
<header class="header">
  <h1 class="header__heading"><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;&nbsp;Edit <%= @uni_module.name %> </h1>
  <div class="header__actions">
  <%= link_to "<i class='fa fa-external-link' aria-hidden='true' style='padding: 1px'></i>&nbsp;&nbsp;View Module".html_safe, @uni_module, target: :blank, method: :get, class: "button tool-box", style: "height:36px;" %>
    <%= render(:partial =>
                   'admin/application/edit_toolbox_buttons',
               :locals => {:f => @uni_module,
                           :object => UniModule.find(params[:id]),
                           :name_of_file=>UniModule.find(params[:id]).name.tr(' ','').underscore,
                           :blacklist_attributes=>"More Info Link",
                           :entity_attributes=>"Course",
                           :has_many_attributes=>[]})%>

  </div>
</header>
<div id="moduleForm" class="col-md-12">
  <%= form_for @uni_module, :url => { :action => "update",:method => "put" }, html: {class: "form" } do |f|%>
    <%= render "form", f: f, parent: "edit"%>
  <% end %>
</div>



