<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="ROBOTS" content="NOODP" />
      <meta name="viewport" content="initial-scale=1" />
      <title><%= full_title_admin( yield(:title) ) %></title>
      <%= stylesheet_link_tag 'admin-side/application' %>
      <%= javascript_include_tag 'admin-side/application' %>
      <script src="https://use.fontawesome.com/bbc851b668.js"></script>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= csrf_meta_tags %>
      <script>
         var $=jQuery.noConflict();
         
         $(document).ready(function(){
          setTimeout(fade_out, 5000);
             function fade_out() {
               $("#flash-container").fadeOut().empty();
               $("#flash-container").css("margin-bottom", "0px");
             }
         });

      </script>
   </head>
                     <%= render "admin/layouts/header" %>
   <div id="wrapper">
      <!-- Sidebar -->
                     <%= render "admin/layouts/sidebar" %>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper" style="padding-top:7px;">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <main role="main">
                     <%= render "admin/layouts/flashes" %>
                     <div class="no-desktop-search">
                     <%= render "admin/layouts/search" %>
                     </div>
                     <%= yield %>
                     <div class="text-center" style="font-size:12px;margin-top:20px;">Modulect for KCL by Recursive Husky</div>
                  </main>
               </div>
            </div>
         </div>
      </div>
      <!-- /#page-content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <!-- Menu Toggle Script -->
   <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
   </script>
   </body>
</html>
