<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Sidebar for navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and Javascripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= content_for(:title) %> - Admin | Modulect</title>
  <%= stylesheet_link_tag 'administrate/application' %>
  <%= javascript_include_tag 'administrate/application' %>
  <script src="https://use.fontawesome.com/bbc851b668.js"></script>
  <%= csrf_meta_tags %>
</head>

    <%= render 'header' %>

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/admin" id="sidebar-title">
          Admin Dashboard
        </a>
      </li>
      <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
          <li class="menu-item">
            <% if [:uni_modules, :courses, :departments, :users, :faculties].include? resource%>

<% icons = {"Courses" => "fa fa-graduation-cap", "Departments" => "fa fa-building", "Faculties" => "fa fa-university", "Uni Modules" => "fa fa-pencil-square", "Users" => "fa fa-users"} %>

                <%= link_to(
                        ('<i class="' + icons[display_resource_name(resource)] + '" aria-hidden="true"></i>&nbsp;&nbsp;' + display_resource_name(resource)).html_safe,
                        [namespace, resource]
                    ) %>
            <% end%>
          </li>
      <% end %>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
          <main role="main">
            <%= content_for(:search) %>
            <%= render "flashes" -%>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />test
</body>
</html>
