<% provide(:title, 'My Details') %>
<div class="banner" style="margin-top: -30px;padding-top:40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>My Details</h1>
      </div>
    </div>
  </div>
</div>

  <div id="page" style="padding-top:30px;">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="col-md-12 login-card">
            <h3>Login Details</h3>
            <br>
            <%= form_for @user, url: { action: :update } do |f|%>
            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" id="inputName" class="form-control" value="<%= full_name_for(@user) %>" readonly>
            </div>
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" id="inputEmail" class="form-control" value=<%= @user.email %> readonly>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <%= f.password_field(:password, class: 'form-control', :required => true, :autocomplete => "off") %>
            </div>
            <div class="form-group">
              <label for="inputCPassword">Confirm Password</label>
              <%= f.password_field(:password_confirmation, class: 'form-control', :required => true, :autocomplete => "off") %>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-block" type="submit">Save&nbsp;&nbsp;
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
            <% end %>
          </div>
        </div>  
        <div class="col-md-5">
          <div class="col-md-12 login-card">
            <h3>Department &amp; Course Details</h3>
            <br>
            <%= form_for @user, url: { action: :update } do |f|%>
             <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group">
              <label for="year-of-study">Year Of Study</label>
              <%= f.select(:year_of_study, options_for_select(1..7), {:prompt => @user.year_of_study}, {:class => 'form-control', :required => true, :autocomplete => "off" } )%>
              </div>
              <div class="form-group">
                <label for="faculty">Faculty</label>
                <%= select_tag(nil, options_for_select(@faculties.collect { |faculty|
    [faculty.name.titleize, faculty.id] }, 0), :include_blank => true, :class => 'form-control', :required => true, :id => "faculties_select", :autocomplete => "off" ) %>
              </div>
              <div class="form-group">
                <label for="department">Department</label>
                <%= select_tag(nil, options_for_select(@departments.collect { |department|
    [department.name.titleize, department.id] }, 0), :include_blank => true, :class => 'form-control', :required => true, :id => "departments_select", :autocomplete => "off" ) %>
              </div>
              <div class="form-group">
                <label for="course">Course/Programme</label>
                <%= f.select(:course_id, options_for_select(@courses.collect { |course|
    [course.name.titleize, course.id] }, 0), {:prompt => @courses_all.find(@user.course_id)}, { :class => 'form-control', :required => true, :id => "courses_select", :autocomplete => "off" }) %>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-block" type="submit">Save&nbsp;&nbsp;
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
