<% provide(:title, 'My Details') %>
<div class="banner" style="margin-top: -30px;padding-top:40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>My Details</h1>
      </div>
    </div>
  </div>
</div>

  <div id="page" style="padding-top:30px;">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="col-md-12 login-card">
            <h3>Account Details</h3>
            <br>
            <%= form_for @user, url: { action: :update } do |f|%>
            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" id="inputName" class="form-control" value="<%= full_name_for(@user) %>" readonly>
            </div>
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" id="inputEmail" class="form-control" value=<%= @user.email %> readonly>
            </div>
            <p style="margin-top:30px;"><%= link_to "Change my password >", new_password_reset_path %>
            <% end %>
          </div>
        </div>
        <div class="col-md-5">
          <div class="col-md-12 login-card">
            <h3>Department &amp; Course Details</h3>
            <br>
            <%= form_for @user, url: { action: :update } do |f|%>
             <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group">
              <label for="year-of-study">Year Of Study</label>
              <%= f.select(:year_of_study, options_for_select(1..7, @user.year_of_study), {:include_blank => true}, {:class => 'form-control', :autocomplete => "off" } )%>
              </div>
              <div class="form-group">
                <label for="faculty">Faculty</label>
                <%= f.select(:faculty_id, options_for_select(@faculties.collect { |faculty|
    [faculty.name.titleize, faculty.id]}, @user.faculty_id), {:include_blank => true}, {:class => 'form-control', :id => "faculties_select", :autocomplete => "off" }) %>
              </div>
              <div class="form-group">
                <label for="department">Department</label>
                <%= f.select(:department_id, options_for_select(@departments.collect { |department|
    [department.name.titleize, department.id] }, @user.department_id), {:include_blank => true}, {:class => 'form-control', :id => "departments_select", :autocomplete => "off" }) %>
              </div>
              <div class="form-group">
                <label for="course">Course/Programme</label>
                <%= f.select(:course_id, options_for_select(@courses.collect { |course|
    [course.name, course.id] }, @user.course_id), {:include_blank => true}, {:class => 'form-control', :id => "courses_select", :autocomplete => "off" }) %>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-block" type="submit">Save&nbsp;&nbsp;
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
