<% provide(:title, 'My Details') %>
<div class="banner" style="padding-top:40px;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1>My Details</h1>
         </div>
      </div>
   </div>
</div>
<div id="page" style="padding-top:30px;">
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-md-offset-1">
            <div class="col-md-12 login-card">
               <h3>Account Details</h3>
               <br>
               <%= form_for @user, url: { action: :update } do |f|%>
               <div class="form-group">
                  <label for="inputName">Name</label>
                  <input type="text" id="inputName" class="form-control" value="<%= full_name_for(@user) %>" readonly>
               </div>
               <div class="form-group">
                  <label for="inputEmail">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" value=<%= @user.email %> readonly>
               </div>
               <p style="margin-top:30px;"><%= link_to "Change my password >", new_password_reset_path %>
                  <% end %>
            </div>

            <% if is_admin %>
            <div class="col-md-12 login-card module-row" style="padding-bottom:27px;">
               <h3>Adminstration</h3>
               <p>You are currently logged in as a <%= admin_type %> Administrator. <% if admin_type == "Department" %>As a result, you will be unable to change the Department and Faculty.<% end %></p>
               <p><%= link_to "Access Administration area >", admin_path %></p>
               </div>
            <% else %>
            <div class="col-md-12 login-card module-row" style="padding-bottom:27px;">
               <h3>Danger zone</h3>
               <p>Want to start over? Reset your account below.</p>
               <%= form_for @user, url: { action: :update } do |f|%>
               <div class="form-group">
                  <input type="hidden" name="user[year_of_study]" value="">
                  <input type="hidden" name="task" value="reset">
                  <button class="btn btn-lg btn-block red-btn" type="submit" onclick="return confirm('This will reset your account and delete all saved modules/pathways too. Are you sure?');" style="margin-top:25px;">RESET ACCOUNT
                  </button>
               </div>
            </div>
            <% end %>
            <% end %>

         </div>
         <div class="col-md-5">
            <div class="col-md-12 login-card">
               <% if current_user.user_level == "user_access" %>
               <h3>Department &amp; Course Details</h3>
               <% elsif current_user.user_level == "department_admin_access" %>
               <h3>Department details</h3>
               <% else %>
               <h3>Testing Modulect</h3>
               <% end %>
               <br>
               <% if current_user.user_level == "department_admin_access" %>
                  <style>
                     #course-group, #yos-group {display: none}
                  </style>
               <% end %>
               <%= render partial: 'layouts/search_beginning/user_fields', locals: {type: "user_edit", dest: edit_user_path(current_user)} %>
            </div>
         </div>
      </div>
   </div>
</div>
