<% if @user && @user.errors.size > 0 %>
    <div id="error-explanation" class="alert alert-danger fade in">
      <h2><%= pluralize(@user.errors.size, "error") %> prohibited this record from being saved</h2>
      <p>There were problems with the following fields:</p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<%end%>
<div class="ui container">
  <%= form_for(@user,:url=>{:action => :create_by_admin},:html => { :method => 'POST' }) do |f|%>


            <div class=" container form-group" style="margin-top:10px;">
              <label for="inputName" class="sr-only">First name</label>
              <%= f.text_field :first_name, placeholder: 'First name', class: 'form-control', autofocus: 'true' %>
            </div>
            <div class="container form-group">
              <label for="inputName" class="sr-only">Last name</label>
              <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
            </div>
            <div class="container form-group">
              <label for="inputEmail" class="sr-only">Email address</label>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email: first.last@kcl.ac.uk'%>
            </div>
            <div class="container form-group">
              <label for="inputPassword" class="sr-only">Password</label>
              <%= f.password_field :password, placeholder: 'Password',  class: 'form-control' %>
            </div>
            <div class="container form-group">
              <label for="inputCPassword" class="sr-only">Confirm Password</label>
              <%= f.password_field :password_confirmation, placeholder: 'Confirm Password',  class: 'form-control' %>
            </div>
            <div class="form-group  ui vertical segment">
              <%= f.submit("Finalize change",:class => "container btn btn-secondary") %>
            </div>




  <%end%>

</div>