<% if @department && @department.errors.size > 0 %>
    <div id="error-explanation" class="alert alert-danger fade in">
      <h2><%= pluralize(@department.errors.size, "error") %> prohibited this record from being saved</h2>
      <p>There were problems with the following fields:</p>
      <ul>
        <% @department.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<%end%>
<div class="ui container">
  <%= form_for(@department) do |f|%>

      <div class="ui vertical segment">
        <div class=" field">
          <label>Name</label>
          <div class="ui left input" id="name">
            <%= f.text_field(:name,:placeholder => "Modify department name") %>
          </div>
        </div>

      </div>





      <%= f.submit("Finalize change",:url=>{:action => :update},:html => { :method => 'POST' },:class=>"ui button" )  %>
      </div>


  <%end%>

  </div>