
<div class="ui very padded fluid vertical segment">
  <table class="ui celled padded table">
    <thead>
    <tr>
      <th>Name</th>
    </tr></thead>
    <tbody>
    <% @departments.each do |s| %>

        <tr>
          <td>
            <h2 class="ui center aligned header"><%= s.name %></h2>
          </td>

          <td><%= link_to("delete",{:action=>:destroy,:id=>s.id})%>   <%= link_to("edit",{:action=>:edit,:id=>s.id})%></td>
        </tr>

    <%end%>
    </tbody>
  </table>
  <%= form_for(:users,:url=>{:action => :new},:html => { :method => 'GET' }) do |f| %>
      <%= submit_tag("Add Department",:class=>"ui blue right float  medium large button")%>
  <% end%>

</div>




