<%#
   Page which shows a user's saved modules and pathways. This uses the uni_modules partial used in other places to display uni module information and uses an overall tabbed structure to switch between pathways and uni modules.
%>
<% provide(:title, 'Saved Modules & Pathways') %>
<% if logged_in? %>
<script type="text/javascript">
   $(function () {
       var hashTab = window.location.hash;
       if (hashTab != '') {
           $('.nav-tabs a[href="' + hashTab + '"]').tab('show');
           $(hashTab).addClass('active');
       }
   });
   
</script>
<% saved_modules = current_user.uni_modules %>
<% saved_pathways = current_user.pathways %>
<%if !saved_pathways.nil? %>
<% saved_pathways = saved_pathways.order("created_at DESC") %>
<% end %>
<div class="banner" style="padding-top:40px;">
   <div class="container">
      <h1>Saved Modules & Pathways</h1>
   </div>
</div>
<div id="page" style="padding-top:30px;">
<div class="container">
   <div id="saved-page" class="col-md-10 col-md-offset-1">
      <ul class="nav nav-tabs">
         <li class="active"><a data-toggle="tab" href="#modules">Saved Modules</a></li>
         <li><a data-toggle="tab" href="#pathways">Saved Pathways</a></li>
      </ul>
      <div class="tab-content" style="margin-top:30px;">
         <div id="modules" class="tab-pane fade in active">
            <div class="col-md-12">
               <% if saved_modules.length == 0 %>
               <div class="row" style="margin-bottom:20px;">
                  <div class="col-md-10 col-md-offset-1 text-center">
                     <h1>You haven't saved any modules :(</h1>
                  </div>
               </div>
               <% else %>
               <% sortby = request.query_parameters["sort_by"] %>
               <% saved_modules = sort_by(convert_to_results_array(saved_modules), sortby) %>
               <div class="row here-what" style="margin-bottom:20px;">
                  <div class="col-md-7">
                     <h1>Your saved modules:</h1>
                     <h5>Saved <%= saved_modules.length %> modules</h5>
                  </div>
                  <div class="col-md-5 text-right" style="padding-top:30px;">
                     <div class="sort-area">
                        <% sorting_options = {"tags" => "Tag match (remembered)", "coursework" => "Coursework weighting", "exam" => "Exam weighting", "pass" => "Pass rate"} %>
                        Sort by: &nbsp;&nbsp;
                        <form action="<%= saved_path %>#modules" style="display:inline-block;" method="GET">
                           <select class="selectpicker" name="sort_by" onchange="this.form.submit()">
                              <% sorting_options.each do |option| %> 
                              <option value="<%= option.first %>" 
                                 <% if sortby == option.first %>
                                 selected
                                 <% end %>
                                 >
                                 <%= option.second %>
                              </option>
                              <% end %>
                           </select>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="row nomobile" style="margin-top:-20px;margin-bottom:10px;">
                  <div class="col-md-12 text-right">
                     <ul class="results-page-options">
                        <li><a href="javascript:void()" onClick="window.print()"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Print page</a></li>
                        <li><a href="mailto:?subject=Modulect | Please check my modules&body=Hello {Insert name},%0A%0AI used KCL Modulect to view which optional modules I should take in order to reach my career goals. Please take a look at this link:%0A%0A
                           <%= request.original_url  %>
                           %0A%0A
                           Regards,%0A
                           {Insert name}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Email someone</a> </li>
                     </ul>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <% saved_modules.each do |r| %>
                     <%= render partial: 'layouts/uni_module', locals: {uni_module: r.first, tags_matched: "", tags_searched_for: "", type: "saved"}  %>
                     <% end %>
                  </div>
               </div>
               <% end %>
            </div>
         </div>
         <div id="pathways" class="tab-pane fade">
            <div class="col-md-12">
               <% if saved_pathways.size == 0 %>
               <div class="row" style="margin-bottom:20px;">
                  <div class="col-md-10 col-md-offset-1 text-center">
                     <h1>You haven't saved any pathways :(</h1>
                  </div>
               </div>
               <% else %>    
               <% sortby = request.query_parameters["sort_by"] %>
               <% if !sortby.nil? %>
               <% saved_pathways = sort_pathways(current_user, sortby) %> 
               <% end %>            
               <div class="row here-what" style="margin-bottom:40px;">
                  <div class="col-md-7">
                     <h1>Your saved pathways:</h1>
                  </div>
                  <div class="col-md-5 text-right" style="padding-top:30px;">
                     <div class="sort-area">
                        <% sorting_options = {"date_created" => "Date saved", "name" => "Name"} %>
                        Sort by: &nbsp;&nbsp;
                        <form action="<%= saved_path %>#pathways" style="display:inline-block;" method="GET">
                           <select class="selectpicker" name="sort_by" onchange="this.form.submit()">
                              <% sorting_options.each do |option| %> 
                              <option value="<%= option.first %>" 
                                 <% if sortby == option.first %>
                                 selected
                                 <% end %>
                                 >
                                 <%= option.second %>
                              </option>
                              <% end %>
                           </select>
                        </form>
                     </div>
                  </div>
                  <div class="row" style="margin-top:100px;">
                     <div class="col-md-12">
                        <% saved_pathways.each do |pathway| %>
                        <div class="col-md-12 login-card res-card" id="pathwaycard-<%= pathway.id %>">
                           <div class="row">
                              <div class="col-md-12 result-card-main">
                                 <h2><%= size_check check_pathway_name pathway.name %></h2>
                                 <h4>Saved on <%= pathway.created_at.strftime("%d %B %Y at %H:%M %p") %></h4>
                                 <div style="margin-top:30px">
                                    <a href="/pathway-search/view_results?year=<%=pathway.year%>&course=<%=pathway.course_id%>&selected=<%=pathway.data%>" class="btn btn-lg btn-small"><span>Open ></span>
                                    </a>
                                    <div style="float:right;">
                                       <button class="btn btn-small btn-lg red-btn" id="pathwaydeletebutton-<%= pathway.id %>"><span><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete</span>
                                       </button>
                                       <script>
                                          $("button#pathwaydeletebutton-<%= pathway.id %>").on("click", function() {
                                          
                                          bootbox.confirm({
                                          title: "Deletion confirmation",
                                          size: "medium",
                                          closeButton: false,
                                          message: "Are you sure you want to delete this saved pathway?",
                                          buttons: {
                                          confirm: {
                                              label: 'Proceed&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>',
                                              className: 'btn-success'
                                          },
                                          cancel: {
                                              label: '<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel',
                                              className: 'red-btn pull-left'
                                          }
                                          },
                                          callback: function(result) {
                                          
                                          if (result == true) {
                                          
                                          
                                              $.ajax({
                                                  type: "POST",
                                                  url: "<%=application_delete_pathway_path(pathway_par: pathway) %>",
                                                  context: document.body,
                                                  success() {
                                          
                                                  }
                                              })
                                          
                                          
                                          
                                          
                                              $("#pathwaycard-<%= pathway.id %>").remove();
                                          
                                          
                                          }
                                          
                                          
                                          }
                                          })
                                          
                                          
                                          
                                          
                                          });
                                       </script>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <% end %>
                     </div>
                  </div>
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<% end %>