<header class="header">
   <h1 class="page-title"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Analytics <%if @department != "any" %><span style="font-size:16px;">for <%= Department.find(@department.to_i).name %></span><% end %>
   </h1>
   <div class="header__actions">
      <% if current_user.user_level == "super_admin_access" %>
      <div class="btn-group">
         <button  style="height: 34px;" class="btn btn-drop btn-default navbar-btn dropdown-toggle-filter mobile-12-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Department filter  <span class="caret"></span>
         </button>
         <ul class="dropdown-menu scrollable-submenu">
            <li> <%= link_to ("View All"), url_for( :department => "all", :time => @time_period  ), method: :get %></li>
            <% Department.all.sort_by{|department| department[:name].downcase}.each do |department| %>
            <li> <%= link_to (department.name.titleize), url_for( :department => department.id, :time => @time_period  ), method: :get %></li>
            <% end %>
         </ul>
      </div>
      <% end %>
      <div class="btn-group">
         <button  style="height: 34px;" class="btn btn-drop btn-default navbar-btn dropdown-toggle-filter mobile-12-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Time period (<%= @time_period.titleize %>) <span class="caret"></span>
         </button>
         <ul class="dropdown-menu scrollable-submenu">
            <% @possible_times.each do |time_period| %>
               <% if time_period == "all_time" %>
                  <li> <%= link_to ("All time"), url_for( :department => @department, :time => time_period  ), method: :get %></li>
             <% else %>
                  <li> <%= link_to (format_time_period(time_period, false, true).titleize), url_for( :department => @department, :time => time_period  ), method: :get %></li>
               <% end %>
            <% end %>
         </ul>
      </div>
      <%= link_to "<i class='fa fa-angle-left' aria-hidden='true'></i>&nbsp;&nbsp;Back".html_safe,
         admin_path, class: "button tool-box", style: "padding-top: 11px;padding-bottom: 11px;" %>
   </div>
</header>