<% if input_hash.size != 0 %>
  <h4>Frequently chosen with <%= @uni_module.name %></h4>
  <canvas id="chart<%=@uni_module.id%>" width="50" height="30"></canvas>
<% else %>
  <h4>No data available right now for <%= @uni_module.name %></h4>
<% end %>
<script>
   var ctxa = document.getElementById("chart<%=@uni_module.id%>");
   var myPieChart = new Chart(ctxa,{
    type: "<%= type %>",
    data: {
    labels: <%= raw input_hash.map{|h| h.first[:name]}.to_json %>,
    datasets: [
      {
        data: <%= raw input_hash.map{|h| h.second}.to_json %>,
        backgroundColor: [
          "#FF6384",
          "#36A2EB",
          "#FFCE56"
        ],
        hoverBackgroundColor: [
          "#FF6384",
          "#36A2EB",
          "#FFCE56"
        ]
      }
    ]
    },
    options: {
      <% if type != "pie" %>
      legend: {
        display: false
      },
      <% end %>
      animation:{
        animateScale:true
      },
      <% if type == "bar" %>
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true,
            userCallback: function(label, index, labels) {
              // no decimals
              if (Math.floor(label) === label) {
                return label;
              }
            },
          }
        }]
      }
      <% elsif type == "horizontalBar" %>
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero:true,
            userCallback: function(label, index, labels) {
              // no decimals
              if (Math.floor(label) === label) {
                return label;
              }
            },
          }
        }]
      }
      <% end %>
    }
    });
</script>