 <%#
  This partial contains the data about the most searched career and interest tags.
 %>
<div class="row" >
   <div class="col-md-12  login-card header-card" style="">
      <div class="col-md-6 header-item">
         <div class="small-header"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;
            <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The interest which was most searched for">Top interest of <% if @time_period == "day" %><%= format_time_period(@time_period, false, true)%><% else %><%= format_time_period(@time_period, true, false)%><% end %></a>
         </div>
         <div class="main-figure">
         <% most_searched_interest_tag = get_top_size_check_analytics(all_data["clicked_interest_tags"]) %>
            <%= get_top_module_name(most_searched_interest_tag) %>
         </div>
         <div class="percentage-change">
            across any type of search
         </div>
      </div>
      <div class="col-md-6 header-item last">
         <div class="small-header"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;
            <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The career which was most searched for">Top career of <% if @time_period == "day" %><%= format_time_period(@time_period, false, true)%><% else %><%= format_time_period(@time_period, true, false)%><% end %></a>
         </div>
         <div class="main-figure">
         <% most_searched_career_tag = get_top_size_check_analytics(all_data["clicked_career_tags"]) %>
            <%= get_top_module_name(most_searched_career_tag) %>
         </div>
         <div class="percentage-change">
            across any type of search
         </div>
      </div>
   </div>
<% most_clicked_career_tags = get_clicked_career_tags(@department,1,@time_period,Time.now,"most", 100) %>

   <div class="row">
<div class="col-md-6">
         <div class="col-md-12 login-card subox-card">
         
            <h4 class="small-header"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;<a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Careers currently trending on Modulect">Trending careers</a></h4>
            <% if most_clicked_career_tags.size == 0 %>
	            No data avaiable right now. Please try again later.
            <% else %>
	            <ol class="trending-list">
	            <% most_clicked_career_tags.each do |tag, counter| %>
	            	<li><%= tag.name %></li>
	            <% end %>
	            </ol>
            <% end %>
            	
         </div>
</div>
<% most_clicked_interest_tags = get_clicked_interest_tags(@department,1,@time_period,Time.now,"most", 100) %>    
<div class="col-md-6">
         <div class="col-md-12 login-card subox-card">
         
            <h4 class="small-header"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;<a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="Interests currently trending on Modulect">Trending interests</a></h4>
            <% if most_clicked_interest_tags.size == 0 %>
	            No data avaiable right now. Please try again later.
            <% else %>
	            <ol class="trending-list">
	            <% most_clicked_interest_tags.each do |tag, counter| %>
	            	<li><%= tag.name %></li>
	            <% end %>
	            </ol>
            <% end %>
            	
         </div>
      </div>
   </div>
</div>



