<h4>Frequently chosen with <%= @uni_module.name %></h4>
<canvas id="barChart<%=@uni_module.id%>" width="50" height="30"></canvas>
<% p input_hash.map{|h| h.first[:name]}.to_json.html_safe %>
<% p raw input_hash.map{|h| h.second}.to_json %>
<script>
   var ctxa = document.getElementById("barChart<%=@uni_module.id%>");
   var myPieChart = new Chart(ctxa,{
    type: 'bar',
    data: {
    labels: <%= raw input_hash.map{|h| h.first[:name]}.to_json %>,
    datasets: [
      {
        data: <%= raw input_hash.map{|h| h.second}.to_json %>,
        backgroundColor: [
          "#FF6384",
          "#36A2EB",
          "#FFCE56"
        ],
        hoverBackgroundColor: [
          "#FF6384",
          "#36A2EB",
          "#FFCE56"
        ]
      }
    ]
    },
    options: {
      legend: {
        display: false
      },
      animation:{
        animateScale:true
      }
    }
    });
</script>