<% provide(:title, 'Analytics') %>
<style>
   #analytics-page .header-item{border-right:1px solid #dfe2e1;}
   #analytics-page .header-item.last{border-right:0px;}
   #analytics-page .tab-pane{padding-left:20px;padding-right: 20px;}
   #analytics-page .small-header{font-weight:300;margin-bottom:5px;}
   #analytics-page .main-figure{font-size:42px;margin-bottom:5px;}
   #analytics-page .percentage-change{}
   #analytics-page .green{color: #2ab27b;}
   #analytics-page .red{color:#c77067;}
   #analytics-page .header-card{padding-left: 0px;padding-right: 0px;padding-bottom: 0px;}
   #analytics-page .header-item .small-header a{cursor: pointer;color: #555459;border-bottom:1px dotted #ccc;padding-bottom:5px;font-family: "Open Sans"}
   #analytics-page .subox-card{padding-left: 20px;padding-right: 20px;}
   #analytics-page .subox-card .small-header {margin-bottom: 20px;}
   #analytics-page .subox-card .small-header a{cursor: pointer;color: #555459;border-bottom:1px dotted #ccc;padding-bottom:5px;}
   #analytics-page .expand-link a{color:#337ab7;font-family: "Open Sans";font-size: 12px;}
   #analytics-page .trending-list{margin-left:15px;}
   #analytics-page .trending-list li{ list-style: decimal;margin-bottom: 5px;font-size:16px;font-family: "Open Sans"}
   .side-right{float:right;width:130px;}
   .side-right .dropdown-toggle,
   .side-right .dropdown-toggle:hover,
   .side-right .dropdown-toggle:focus,
   .side-right .dropdown-toggle:active {
   background: whitesmoke;
   color: #333;
   box-shadow: 0px 3px 0px 0px #dfe2e1;
   outline: none;
   width:130px;
   font-size:13px;
   padding-bottom: 0px;
   }
   #pagination-bottom .bootstrap-select{width:100px}
   @media(max-width:991px) {
   #analytics-page .header-item{border-right: 0px;border-bottom:1px solid #dfe2e1;padding-bottom:10px;text-align: center;}
   #analytics-page .header-item.last{border-bottom:0px;}
   #analytics-tabs li{display: block;float:none;}
   }
</style>
<header class="header">
   <h1 class="page-title"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Analytics <%if @department != "any" %><span style="font-size:16px;">for <%= Department.find(@department.to_i).name %></span><% end %>
   </h1>
   <div class="header__actions">
      <% if current_user.user_level == "super_admin_access" %>
      <div class="btn-group">
         <button  style="height: 34px;" class="btn btn-drop btn-default navbar-btn dropdown-toggle-filter mobile-12-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Department filter  <span class="caret"></span>
         </button>
         <ul class="dropdown-menu scrollable-submenu">
            <li> <%= link_to ("View All"), url_for( :sortby => @sort_by, :order => @order, :per_page => @per_page, :dept => 0  ), method: :get %></li>
            <% Department.all.sort_by{|department| department[:name].downcase}.each do |department| %>
            <li> <%= link_to (department.name.titleize), url_for( :department => department.id, :time => @time_period  ), method: :get %></li>
            <% end %>
         </ul>
      </div>
      <% end %>
      <div class="btn-group">
         <button  style="height: 34px;" class="btn btn-drop btn-default navbar-btn dropdown-toggle-filter mobile-12-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Time period (<%= @time_period.titleize %>) <span class="caret"></span>
         </button>
         <ul class="dropdown-menu scrollable-submenu">
            <% @possible_times.each do |time_period| %>
            <li> <%= link_to (time_period.titleize), url_for( :department => @department, :time => time_period  ), method: :get %></li>
            <% end %>
         </ul>
      </div>
      <%= link_to "<i class='fa fa-angle-left' aria-hidden='true'></i>&nbsp;&nbsp;Back".html_safe,
         :back, class: "button tool-box", style: "padding-top: 11px;padding-bottom: 11px;" %>
   </div>
</header>
<div id="analytics-page">
   <script type="text/javascript">
      $(function () {
          var hashTab = window.location.hash;
          if (hashTab != '') {
              $('.nav-tabs a[href="' + hashTab + '"]').tab('show');
              $(hashTab).addClass('active');
          }
      });
      
   </script>
   <ul id="analytics-tabs" class="nav nav-tabs" style="margin-top:-10px;">
      <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
      <li><a data-toggle="tab" href="#quick-search">Quick Search</a></li>
      <li><a data-toggle="tab" href="#pathway-search">Pathway Search</a></li>
      <li><a data-toggle="tab" href="#career-search">Career Search</a></li>
      <li><a data-toggle="tab" href="#test">test</a></li>
   </ul>
   <div class="tab-content" style="margin-top:30px;">
      <div id="overview" class="tab-pane fade in active">
         <div class="row" >
            <div class="col-md-12  login-card header-card" style="">
               <div class="col-md-3 header-item">
                  <div class="small-header"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;
                     <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The number of visitors in the time period">Total Users (this month)</a>
                  </div>
                  <div class="main-figure">3470</div>
                  <div class="percentage-change green"><i class="fa fa-caret-up" aria-hidden="true"></i> 4% from last month</div>
               </div>
               <div class="col-md-3 header-item">
                  <div class="small-header"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The number of quick searches made in the time period">Quick Searches</a>
                  </div>
                  <div class="main-figure">10255</div>
                  <div class="percentage-change red"><i class="fa fa-caret-down" aria-hidden="true"></i> 7% from last month</div>
               </div>
               <div class="col-md-3 header-item">
                  <div class="small-header"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The number of pathway searches made in the time period">Pathway Searches</a>
                  </div>
                  <div class="main-figure">218</div>
                  <div class="percentage-change green"><i class="fa fa-caret-up" aria-hidden="true"></i> 1% from last month</div>
               </div>
               <div class="col-md-3 header-item last">
                  <div class="small-header"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<a class="help-tooltip" data-toggle="tooltip"  data-placement="left" title="The number of career searches made in the time period">Career Searches</a>
                  </div>
                  <div class="main-figure">4894</div>
                  <div class="percentage-change red"><i class="fa fa-caret-down" aria-hidden="true"></i> 12% from last month</div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 login-card">
               <canvas id="myChart" width="400" height="120"></canvas>
               <script>
                  var ctx = document.getElementById("myChart");
                  var myChart = new Chart(ctx, {
                      type: 'line',
                      data: {
                          labels: ["January", "February", "March", "April", "May", "June"],
                          datasets: [{
                              label: '# of quick searches',
                              data: [1550, 1569, 1800, 2000, 2085, 3900],
                              backgroundColor: [
                                  'rgba(255, 99, 132, 0.2)',
                                  'rgba(54, 162, 235, 0.2)',
                                  'rgba(255, 206, 86, 0.2)',
                                  'rgba(75, 192, 192, 0.2)',
                                  'rgba(153, 102, 255, 0.2)',
                                  'rgba(255, 159, 64, 0.2)'
                              ],
                              borderColor: [
                                  'rgba(255,99,132,1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                              borderWidth: 1
                          }]
                      },
                      options: {
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero:true
                                  }
                              }]
                          }
                      }
                  });
               </script>
            </div>
            <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4 class="small-header"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;<a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The number of quick searches made in the time period">Trending tags</a></h4>
                     <ol class="trending-list">
                        <li>Software engineering <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Maths <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Developer <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Cyber security <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Banking <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                     </ol>
                     <div class="expand-link">
                        <a href="#">Expand  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Trending modules</h4>
                     <ol class="trending-list">
                        <li>Software engineering <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Maths <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Developer <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Cyber security <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Banking <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                     </ol>
                     <div class="expand-link">
                        <a href="#">Expand  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Most saved modules</h4>
                     <ol class="trending-list">
                        <li>Software engineering <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Maths <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Developer <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Cyber security <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Banking <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                     </ol>
                     <div class="expand-link">
                        <a href="#">Expand  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Device usage</h4>
                     <canvas id="myPieChart" width="50" height="30"></canvas>
                     <script>
                        var ctxa = document.getElementById("myPieChart");
                        // For a pie chart
                        var myPieChart = new Chart(ctxa,{
                            type: 'pie',
                            data: {
                            labels: [
                                "iPhone",
                                "Android device",
                                "Windows 10"
                            ],
                            datasets: [
                                {
                                    data: [300, 50, 100],
                                    backgroundColor: [
                                        "#FF6384",
                                        "#36A2EB",
                                        "#FFCE56"
                                    ],
                                    hoverBackgroundColor: [
                                        "#FF6384",
                                        "#36A2EB",
                                        "#FFCE56"
                                    ]
                                }]
                        },
                            options: {
                                animation:{
                                    animateScale:true
                                }
                            }
                        });
                     </script>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Top x reviewed modules</h4>
                     <ol class="trending-list">
                        <li>Software engineering <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Maths <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Developer <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Cyber security <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Banking <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                     </ol>
                     <div class="expand-link">
                        <a href="#">Expand  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Top x highly rated modules</h4>
                     <canvas id="myLineChart" width="50" height="30"></canvas>
                     <script>
                        var ctxa = document.getElementById("myLineChart");
                        // For a pie chart
                        var myPieChart = new Chart(ctxa,{
                            type: 'bar',
                            data: {
                            labels: [
                                "Red",
                                "Blue",
                                "Yellow"
                            ],
                            datasets: [
                                {
                                    data: [300, 50, 100],
                                    backgroundColor: [
                                        "#FF6384",
                                        "#36A2EB",
                                        "#FFCE56"
                                    ],
                                    hoverBackgroundColor: [
                                        "#FF6384",
                                        "#36A2EB",
                                        "#FFCE56"
                                    ]
                                }]
                        },
                            options: {
                                animation:{
                                    animateScale:true
                                }
                            }
                        });
                     </script>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Most active student users</h4>
                     <ol class="trending-list">
                        <li>Software engineering <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Maths <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Developer <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Cyber security <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Banking <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                     </ol>
                     <div class="expand-link">
                        <a href="#">Expand  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Logged in vs logged out visitors</h4>
                     <canvas id="myPieChart3" width="50" height="30"></canvas>
                     <script>
                        var ctxa = document.getElementById("myPieChart3");
                        // For a pie chart
                        var myPieChart = new Chart(ctxa,{
                            type: 'pie',
                            data: {
                            labels: [
                                "Logged in %",
                                "Logged out %"
                            ],
                            datasets: [
                                {
                                    data: [75, 25],
                                    backgroundColor: [
                                        "#FF6384",
                                        "#36A2EB"
                                    ],
                                    hoverBackgroundColor: [
                                        "#FF6384",
                                        "#36A2EB"
                                    ]
                                }]
                        },
                            options: {
                                animation:{
                                    animateScale:true
                                }
                            }
                        });
                     </script>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Most active courses</h4>
                     <canvas id="myHBarChart" width="50" height="30"></canvas>
                     <script>
                        var ctxa = document.getElementById("myHBarChart");
                        // For a pie chart
                        var myPieChart = new Chart(ctxa,{
                            type: 'horizontalBar',
                            data: {
                            labels: [
                                "Red",
                                "Blue",
                                "Yellow"
                            ],
                            datasets: [
                                {
                                    data: [300, 50, 100],
                                    backgroundColor: [
                                        "#FF6384",
                                        "#36A2EB",
                                        "#FFCE56"
                                    ],
                                    hoverBackgroundColor: [
                                        "#FF6384",
                                        "#36A2EB",
                                        "#FFCE56"
                                    ]
                                }]
                        },
                            options: {
                                animation:{
                                    animateScale:true
                                }
                            }
                        });
                     </script>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card subox-card">
                     <div class="side-right">
                        <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
                           <option value="500" >Area chart</option>
                           <option value="500" >Bar chart</option>
                           <option value="50" >Line chart</option>
                           <option value="250" >Pie chart</option>
                           <option value="10" selected="selected">Table</option>
                        </select>
                     </div>
                     <h4>Most active departments</h4>
                     <ol class="trending-list">
                        <li>Software engineering <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Maths <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Developer <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                        <li>Cyber security <i class="fa fa-caret-down red" aria-hidden="true"></i></li>
                        <li>Banking <i class="fa fa-caret-up green" aria-hidden="true"></i></li>
                     </ol>
                     <div class="expand-link">
                        <a href="#">Expand  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="quick-search" class="tab-pane fade">
         Quick search
      </div>
      <div id="pathway-search" class="tab-pane fade">
         Pathway search
      </div>
      <div id="career-search" class="tab-pane fade">
         Career search
      </div>
      <div id="test" class="tab-pane fade">
         most reviewed <br />
         <% get_review_modules_analytics(@department,@course,@time_period,Time.now,"most", 10).each do |uni_module, count| %>
         <%= uni_module.name  + " " + count.to_s %><br />
         <% end %>
         <br />
         <br />
         most highly rated <br />
         <% get_rating_modules_analytics(@department,@course,@time_period,Time.now,"most", 10).each do |uni_module, count| %>
         <%= uni_module.name  + " " + count.to_s %><br />
         <% end %>
         <br />
         <br />
         most active courses (num users in time period)<br />
         <% get_active_courses(@department,@time_period,Time.now,"most", 10).each do |course, count| %>
         <%= course.name  + " " + count.to_s %><br />
         <% end %>
         <br />
         <br />
         most active departments  (num users in time period)<br />
         <% get_active_departments(@time_period,Time.now,"most", 10).each do |department, count| %>
         <%= department.name  + " " + count.to_s %><br />
         <% end %>
         <br />
         <br />
         most active admin departments  (num admin users in time period)<br />
         <% get_active_departments_admin_wise(@time_period,Time.now,"most", 10).each do |department, count| %>
         <%= department.name  + " " + count.to_s %><br />
         <% end %>
         <br />
         <br />
         most active users by saving<br />
         <% get_active_user_by_saves(@department,@time_period,Time.now,"most", 10).each do |user, count| %>
         <%= user.first_name  + " " + count.to_s %><br />
         <% end %>
         <br />
         <br />
         most active users by comments<br />
         <% get_active_user_by_comments(@department,@time_period,Time.now,"most", 10).each do |user, count| %>
         <%= user.first_name  + " " + count.to_s %><br />
         <% end %>
         <br />
         <br />
         number of visitors<br />
         <%= get_number_visitors(@department, @time_period, Time.now) %>
         <br />
         <br />
         number of logged in visitors<br />
         <%= get_number_logged_in_users(@department, @time_period, Time.now) %>
         <br />
         <br />
         device usage<br />
         <% get_device_usage(@department, @time_period, Time.now).each do |device, amount| %>
         <%= device  + ", " + amount.to_s %><br />
         <% end %>
         <br />
         <br />
         num quick searches<br />
         <%= get_number_quick_searches(@department,@time_period, Time.now) %>
         <br />
         <br />
         num pathway searches<br />
         <%= get_number_pathway_searches(@department,@time_period, Time.now) %>
         <br />
         <br />
         num career searches<br />
         <%= get_number_career_searches(@department,@time_period, Time.now) %>
         <br />
         <br />
         most saved modules<br />
         <% get_saved_modules(@department,@course,@time_period,Time.now,"most", 10).each do |uni_module, count| %>
         <%= uni_module.name + "  " + count.to_s %><Br />
         <% end %>
         <br />
         <br />
         most visited modules<br />
         <% get_visited_modules(@department,@course,@time_period,Time.now,"most", 10).each do |uni_module, count| %>
         <%= uni_module.name + "  " + count.to_s %><Br />
         <% end %>
         <br />
         <br />
         most clicked tags<br />
         <% get_clicked_tags(@department,@time_period,Time.now,"most", 10).each do |tag, count| %>
         <%= tag.name + "  " + tag.type + "  " + count.to_s %><Br />
         <% end %>
         <br />
         <br />
         <Br /><br />
      </div>
   </div>
</div>
</div>
<Br />
<Br />
<Br />
<Br />
<h1>NOTES</h1>
Most active student users:
by reviews, searches, saves (using a dropdown to filter)<br />
some areas for one and not the other and some for others < br />department admin vs system admin<br />
main area is for the multiple lines chart<br />
There should be a dropdown to toggle chart type anywhere we do charts (line, bar, area) because <span style="font-style:italic;">nothing's impossible</span>