<% if @course && @course.errors.size > 0 %>
    <div id="error-explanation" class="alert alert-danger fade in">
      <h2><%= pluralize(@course.errors.size, "error") %> prohibited this record from being saved</h2>
      <p>There were problems with the following fields:</p>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<%end%>
<div class="ui container">
  <%= form_for(@course) do |f|%>

      <div class="form-group" style="margin-top:10px;">
        <label for="inputName" class="sr-only">Course name</label>
        <%= f.text_field :name, placeholder: 'Modify name' %>
      </div>
      <div class="form-group">
        <label for="inputName" class="sr-only">Description</label>
        <%= f.text_area(:description,placeholder: "Modify description of course") %>
      </div>
      <%= f.submit("Finalize change",:url=>{:action => :update},:html => { :method => 'POST' },:class=>"btn btn-secondary " )  %>




  <%end%>

</div>