<div id="pagination-bottom">
   <% per_page_numbers = [10,20,50,250,500] %>
   <form action="<%= request.original_fullpath %>">
      Show&nbsp;&nbsp;
      <select class="selectpicker" name="per_page"  onchange="this.form.submit()">
         <% if !per_page_numbers.include?(per_page) %>
         <option value="<%= per_page %>"><%= per_page %></option>
         <% end %>
         <% per_page_numbers.each do |number| %>
         <option value="<%= number %>" <% if per_page == number %>selected="selected"<% end %>><%= number %></option>
         <% end %>
      </select>
      &nbsp;&nbsp;per page
      <% if controller_name == "users" || controller_name == "courses" || controller_name == "uni_modules" %>
         <input type="hidden" name="dept" value="<%= dept_filter_id %>">
      <% elsif controller_name == "departments" %>
         <input type="hidden" name="fac" value="<%= faculty_filter_id %>">   
      <% end %>
      <input type="hidden" name="search" value="<%= search_query %>">
      <input type="hidden" name="sort_by" value="<%= sort_by %>">
      <input type="hidden" name="order" value="<%= order %>">
   </form>
</div>