<% if action_name == "index" && controller_name != "dashboard"  %>
	<form class="search" action="<%= request.original_fullpath %>" method="get">
	    <i class="fa fa-search" aria-hidden="true"></i>
	    <input type="text" name="search" class="search__input" placeholder="Type anywhere to search"value="<% if request.query_parameters["search"].present?%><%= request.query_parameters["search"] %><% end %>"  <% if !request.query_parameters["search"].present?%>autofocus="autofocus"<% end %>  aria-label="Search" />
	    <% if request.query_parameters["search"].present?%><a style="color:#555459" href="<%= request.path%>"><span class="search__clear"><i class="fa fa-times" aria-hidden="true"></i></span></a><% end %>
	    <% request.query_parameters.each do |first, second| %>
	    	<% if first != "search" %>
	    		<input type="hidden" name="<%= first %>" value="<%= second %>">
	    	<% end %>
	    <% end %>
	</form>
<% elsif controller_name == "analytics" && action_name == "analytics" && current_user.user_level == "super_admin_access" %>
	<form class="search" action="<%= request.original_fullpath %>" method="get">
	    <i class="fa fa-search" aria-hidden="true"></i>
	    <input type="text" name="search" class="search__input" placeholder="Search for a department"value="<% if request.query_parameters["search"].present?%><%= request.query_parameters["search"] %><% end %>"  <% if !request.query_parameters["search"].present?%>autofocus="autofocus"<% end %>  aria-label="Search" />
	    <% if request.query_parameters["search"].present?%><a style="color:#555459" href="<%= request.path%>"><span class="search__clear"><i class="fa fa-times" aria-hidden="true"></i></span></a><% end %>
	    <% request.query_parameters.each do |first, second| %>
	    	<% if first != "search" && first != "department" %>
	    		<input type="hidden" name="<%= first %>" value="<%= second %>">
	    	<% end %>
	    <% end %>
	</form>
<% end %>