
    <!--Helper which prints error message of current object if there is any on to screen(does nothing, if none)-->
    <%= error_messages_for(f.object) %>


        <!--renders attributes-->
        <div class="row field-unit field-unit--string first_name" >
          <div class="col-xs-12">
            <div class="field-unit__label">
              <%= f.label :first_name %>
            </div>
            <div class="field-unit__field">
              <%= f.text_field :first_name %>
            </div>
          </div>
        </div>


    <div class="row field-unit field-unit--string last_name" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :last_name %>
        </div>
        <div class="field-unit__field">
          <%= f.text_field :last_name %>
        </div>
      </div>
    </div>


    <div class="row field-unit field-unit--select user_level" >
      <div class="col-xs-12">
        <div class="field-unit__label ">
          <%= f.label :user_level %>
        </div>
        <div class="field-unit__field select-field">
          <%= f.select(
                  :user_level,
                  options_for_select(
                      f.object.class.public_send("user_levels")
                          .map { |k, v| [k.humanize, k] },
                      f.object.public_send("user_level")),
                  include_blank: true) %>
        </div>
      </div>
    </div>


    <div class="row field-unit field-unit--string email" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :email %>
        </div>
        <div class="field-unit__field">
          <%= f.text_field :email %>
        </div>
      </div>
    </div>


    <div class="row field-unit field-unit--string password" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :password %>
        </div>
        <div class="field-unit__field">
          <%= f.text_field :password %>
        </div>
      </div>
    </div>


    <div class="row field-unit field-unit--string password_confirmation" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :password_confirmation %>
        </div>
        <div class="field-unit__field">
          <%= f.text_field :password_confirmation %>
        </div>
      </div>
    </div>

    <div class="row field-unit field-unit--select course " >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :course %>
        </div>
        <div class="field-unit__field select-field">
              <%= collection_select(:course, :course_id, Course.all, :id, :name, :prompt => 'Please select course')%>
        </div>
      </div>
    </div>


    <div class="row field-unit field-unit--select year_of_study" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :year_of_study %>
        </div>
        <div class="field-unit__field select-field">
          <%= f.select :year_of_study, (1..10).to_a,{:prompt=>"",:size => 5},class: "year-drop"%>

        </div>
      </div>
    </div>

    <div class="row field-unit field-unit--select department " >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :department %>
        </div>
        <div class="field-unit__field select-field">
          <%= collection_select(:department, :depaartment_id, Department.all, :id, :name, :prompt => 'Please select Department')%>
        </div>
      </div>
    </div>


    <div class="form-actions"><%= f.submit %></div>

    <script>
        $(document).ready(function () {
            //!important {if fields are added, specify within block whether they should be hidden}
            //manipulates the page depending on what the select item value is for user_level field
            // i.e shows certain fields that were initially hidden
            var $select = $('.select-field select').selectize();
            });
    </script>