<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.


%>

<!--Note to anyone who wants to modify this form: There exists a for loop which renders all the attributes
related to that model. current_field_name intialized within for loop returns field name. Have a if
statement that compares the current field name with a value and do the associated behaviour
with respect to that related field-->



<%= form_for([namespace, page.resource], html: {class: "form"}) do |f| %>
    <!--Helper which prints error message of current object if there is any on to screen(does nothing, if none)-->
    <%= error_messages_for(page.resource) %>

    <% page.attributes.each do |attribute| -%>
        <% current_field_name = attribute.attribute.to_s %>

        <% case current_field_name %>
          <% when "user_level" %>
            <% class_to_add = "faculty-field" %>
            <span class="instruction-label form-actions">*Super admin access gives unbound access to modify, create and delete</span>
        <% when "course" %>
            <% class_to_add = "faculty-field" %>
            <span class="instruction-label form-actions">*If entered, departments will automatically be infered from the course</span>
        <% when "department_id" %>
            <% class_to_add = "to-hide" %>
        <% when "faculty" %>
            <% class_to_add = "faculty-field" %>

        <% end %>
        <div class="field-unit field-unit--<%= attribute.html_class %> <%= class_to_add %>">
          <%= render_field attribute, f: f %>
        </div>
    <% end -%>

    <div class="form-actions"><%= f.submit %></div>
<% end %>



<script>
    $(document).ready(function () {
        var $select = $('.faculty-field select').selectize();
    });
</script>