<!--Helper which prints error message of current object if there is any on to screen(does nothing, if none)-->
<%= error_messages_for(f.object) %>
<!--renders attributes-->
<style>
   #super-admin-warning{display: none;}
   <% if @user.user_level == "super_admin_access" %>
   #additional-area{display: none}
   #super-admin-warning{display: block;margin-bottom:10px;}
   <% elsif @user.user_level =="department_admin_access" %>
   #hide-for-department-admin{display:none;}
   <% end %>
   .user-level-margin{margin-top:5px;}
</style>
<div class="row field-unit field-unit--string first_name" >
   <div class="col-xs-12">
      <div class="field-unit__label">
         <%= f.label :first_name %>
      </div>
      <div class="field-unit__field">
         <%= f.text_field :first_name %>
      </div>
   </div>
</div>
<div class="row field-unit field-unit--string last_name" >
   <div class="col-xs-12">
      <div class="field-unit__label">
         <%= f.label :last_name %>
      </div>
      <div class="field-unit__field">
         <%= f.text_field :last_name %>
      </div>
   </div>
</div>
<div class="row field-unit field-unit--select user_level" >
   <div class="col-xs-12">
      <div class="field-unit__label ">
         <%= f.label :user_level, {style: "margin-bottom: 5px"} %>
         <span  class="instruction-label" id="super-admin-warning" >*Warning: Super admin access gives unbound access to modify, create and delete</span>
      </div>
      <div class="form-group field-unit__field user-level-select-field">
      <% if current_user.user_level == "super_admin_access" %>
         <%= f.select(:user_level,  options_for_select(
            f.object.class.public_send("user_levels")
                .map { |k, v| [k.humanize, k] },
            f.object.public_send("user_level")), {:include_blank => false}, {:class => 'form-control user-level-margin', :id => "user_level_select", :autocomplete => "off"   }) %>
      <% else %>
         <%= f.select(:user_level,  options_for_select(
            f.object.class.public_send("user_levels").select { |user_level| user_level == "user_access" || user_level == "department_admin_access"}
                .map { |k, v| [k.humanize, k] },
            f.object.public_send("user_level")), {:include_blank => false}, {:class => 'form-control user-level-margin', :id => "user_level_select", :autocomplete => "off"   }) %>
      <% end %>
      </div>
   </div>
</div>
<div class="row field-unit field-unit--string email" >
   <div class="col-xs-12">
      <div class="field-unit__label">
         <%= f.label :email %>
      </div>
      <div class="field-unit__field ">
         <%= f.text_field :email %>
      </div>
   </div>
</div>
<div class="row field-unit field-unit--checkbox activated" >
   <div class="col-xs-12">
      <div class="field-unit__label">
         <%= f.label :activated %>
      </div>
      <div class="field-unit__field checkbox">
         <%= f.check_box :activated %><label for="user_activated"><span></span></label>
      </div>
   </div>
</div>
<%if parent=="edit"  %>
<div style="margin-bottom:20px;"><a onclick="openPasswordFields();" class=" form-actions password-show-toggle">Change password</a></div>
<%end%>
<div class="<%= parent=="edit"?"password-hidden":""%>">
   <div class="row field-unit field-unit--string password" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <%= f.label :password %>
         </div>
         <div class="field-unit__field">
            <%= f.password_field :password %>
         </div>
      </div>
   </div>
   <div class="row field-unit field-unit--string password_confirmation" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <%= f.label :password_confirmation %>
         </div>
         <div class="field-unit__field">
            <%= f.password_field :password_confirmation %>
         </div>
      </div>
   </div>
</div>
<span class="additional-fields" id="additional-area">
   <div class="page-header additional-info">Additional information</div>
   <div class="row field-unit field-unit--select faculty department-admin-field user-field" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <%= f.label :faculty %>
         </div>
         <div class="field-unit__field default-select-field">
            
         <% if current_user.user_level == "super_admin_access" %>
         <%= f.select(:faculty_id, options_for_select(@faculties.collect { |faculty|
                        [faculty.name.titleize, faculty.id]}, @user.faculty_id), {:include_blank => true}, {:class => 'form-control', :id => "faculties_select", :autocomplete => "off"  }) %>
         <% else %>
         <%= f.select(:faculty_id, options_for_select([Faculty.find(current_user.faculty_id).name.titleize], Faculty.find(current_user.faculty_id).name.titleize), {:include_blank => true}, {:class => 'form-control', :id => "faculties_select", :autocomplete => "off", :readonly=> "true", :disabled=>true  }) %>

            <% end %>   
         </div>
      </div>
   </div>
   <div class="row field-unit field-unit--select department department-admin-field user-field" >
      <div class="col-xs-12">
         <div class="field-unit__label">
            <%= f.label :department %>
         </div>
         <div class="field-unit__field default-select-field">

         <% if current_user.user_level == "super_admin_access" %>
            <%= f.select(:department_id, options_for_select(@departments.collect { |department|
               [department.name.titleize, department.id] }, @user.department_id), {:include_blank => true}, {:class => 'form-control', :id => "departments_select", :autocomplete => "off"  }) %>
            <% else %>
             <%= f.select(:department_id,options_for_select([Department.find(current_user.department_id).name.titleize], @user.department_id), {:include_blank => false}, {:class => 'form-control', :id => "departments_select", :autocomplete => "off", :readonly=> "true", :disabled=>true   }) %>
            <% end %>
         </div>
      </div>
   </div>
   <div id="hide-for-department-admin">
      <div class="row field-unit field-unit--select course user-field" >
         <div class="col-xs-12">
            <div class="field-unit__label">
               <%= f.label :course%>
            </div>
            <div class="field-unit__field default-select-field">
            <% if current_user.user_level == "super_admin_access" %>
               <%= f.select(:course_id, options_for_select(@courses.collect { |course|
                  [course.name + " (from " + course.year.to_s+")", course.id] }, @user.course_id), {:include_blank => true}, {:class => 'form-control', :id => "courses_select", :autocomplete => "off"   }) %>
            <% else %>
               <%= f.select(:course_id, options_for_select(Department.find(current_user.department_id).courses.collect { |course|
                                 [course.name + " (from " + course.year.to_s+")", course.id] }, @user.course_id), {:include_blank => true}, {:class => 'form-control', :id => "courses_select", :autocomplete => "off"   }) %>
            <% end %>
            </div>
         </div>
      </div>
      <div class="row field-unit field-unit--select year_of_study user-field" >
         <div class="col-xs-12">
            <div class="field-unit__label">
               <%= f.label :year_of_study %>
            </div>
            <div class="field-unit__field default-select-field">
               <%= f.select(:year_of_study, options_for_select(1..7, @user.year_of_study), {:include_blank => true}, {:class => 'form-control', :autocomplete => "off" } )%>
            </div>
         </div>
      </div>
   </div>
</span>
<div class="form-actions"><button type="submit" name="commit" data-disable-with="<%if parent=="edit"  %>Update<% else %>New<% end %> user" /><i class='fa fa-floppy-o' aria-hidden='true'></i>&nbsp;&nbsp;
   <%if parent=="edit"  %>Update<% else %>New<% end %> user</button>
   <% if parent == "edit" && current_user.id != @user.id %>
   &nbsp;&nbsp;&nbsp;<%= link_to "<i class='fa fa-trash' aria-hidden='true'></i> Delete user".html_safe, admin_user_path(@user), method: :delete,
      data: { confirm: "Are you sure you want to delete this user?" } , class: "table__action--destroy" %>
   <% end %>
</div>
<script>
   document.getElementById('user_level_select').addEventListener('change', function () {
       var style = this.value == "super_admin_access" ? 'none' : 'block';
       document.getElementById('additional-area').style.display = style;
   
       var style2 = this.value == "super_admin_access" ? 'block' : 'none';
       document.getElementById('super-admin-warning').style.display = style2;
   });
   
   
   document.getElementById('user_level_select').addEventListener('change', function () {
       var style = this.value == "department_admin_access" ? 'none' : 'block';
       document.getElementById('hide-for-department-admin').style.display = style;
   });
   
      //toggles the password field to appear and disappear
      var openPasswordFields = function () {
          $(".password-hidden").slideToggle("slow");
          $(".password-show-toggle").text($(".password-show-toggle").text()=="Change password"?"Close panel":"Change password");
      };
      
      
      
      
</script>