<% content_for(:title) { "Edit #{@user.first_name} #{@user.last_name}" } %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <a onclick="openPrintForm(['Password Digest','Activation Digest','Reset Digest','Reset Sent At','Remember Digest'],
        ['Department','Faculty','Course'])" class="button"><span class="glyphicon glyphicon-print" style=" margin-right: 2px"></span>  Print data</a>
    <a onclick="exportToHTML(['Password Digest','Activation Digest','Reset Digest','Reset Sent At','Remember Digest'],
        ['Department','Faculty','Course'])" class="button"><span class="glyphicon glyphicon-cloud-upload" style=" margin-right: 2px"></span> Export as simple data</a>
    <a href="javascript:genPDF('<%=User.find(params[:id]).first_name+"_"+User.find(params[:id]).last_name%>',['Password Digest'
    ,'Activation Digest','Reset Digest','Reset Sent At','Remember Digest'],
    ['Department','Faculty','Course'])" class="button"><span class="glyphicon glyphicon-file" style=" margin-right: 2px"></span> Download As PDF</a>
    <%= link_to(
            "<i class='fa fa-times' aria-hidden='true'></i>&nbsp;&nbsp;Quit".html_safe,
        admin_users_path,
            class: "button",
        ) %>
  </div>
</header>
<%= form_for(@user, :url => { :action => "update",:method => "put" }, html: {class: "form",:onsubmit => "removeVoidFields()" })do |f| %>
  <%= render "form", f: f,parent: "edit"%>
<% end %>


<script>

    function notPresent(arr, obj) {
        for(var i=0; i<arr.length; i++) {
            if (arr[i] == obj) return false;
        }
        return true;
    }

  var printForm = function (blackListFields,relationshipFields) {
      var form_data = $(".form").serializeArray();
      var html = "<div id='to-print'>Modulect user data<table class='collection-data table' ' cellpadding='10'  border='1' style='border-collapse: collapse; font-family: Arial'>"
      <% @user.attributes.each do |attr| %>
        var name = "<%=attr[0].to_s.titleize %>"
        var value= "<%= attr[1].to_s.titleize %>" == ""?" - ":"<%= attr[1].to_s.titleize %>"
        if(notPresent(blackListFields,name)){
            if(!notPresent(relationshipFields,name)) {
                if("<%= attr[1] %>"!=""){
                    value = "<%= find_name_of_association(@user,attr[0].to_s.titleize.downcase)%>";
                }
            }
            html += "<tr> <td>" + name + " : " + value + "</td> </tr>";
        }
      <%end%>
      html+="</table>";
      return html;
  }

  function openPrintForm(blackListFields,relationshipFields){
        var html = printForm(blackListFields,relationshipFields);
      w=window.open();
      w.document.write(html);
      w.print();
      w.close();
  }

    function genPDF(name,blackListFields,relationshipFields) {
        var html = printForm(blackListFields,relationshipFields)
        var doc = new jsPDF();
        $(".form").after($.parseHTML( html ));
        $("#to-print").css("display","none");
        doc.fromHTML($("#to-print").get(0), 20,20,{
            'width':500
        });
        doc.save("Modulect_"+name+'.pdf');
    }

    function exportToHTML(blackListFields,relationshipFields) {
        var html = printForm(blackListFields,relationshipFields);
        w=window.open();
        w.document.write(html);
    }



</script>