<div class="nested-fields">

    <!--renders attributes-->
    <div class="row field-unit field-unit--string name" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :name%>
        </div>
        <div class="field-unit__field">
          <%= f.text_field :name,placeholder: 'i.e: Semester 1'  %>
        </div>
      </div>
    </div>

    <div class="row field-unit field-unit--string total_credits" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :total_credits %>
        </div>
        <div class="field-unit__field">
          <%= f.number_field :total_credits %>
        </div>
      </div>
    </div>

    <div class="row field-unit field-unit--string total_credits" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :uni_modules %>
        </div>
        <div class="field-unit__field select-modules">
          <%= f.select :uni_module_ids, possible_uni_modules_for_new_group.collect {|x| [x.to_s, x.id]}, {},
          :multiple => true, class: 'selectize' %>
        </div>
      </div>
    </div>

    <div class="row field-unit compulsory" >
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label "Make all modules in this compulsory" %>
        </div>
        <div class="field-unit__field select-modules">
          <%= f.check_box :compulsory %>
        </div>
      </div>
    </div>




  <div class="remove-field" style="margin: 0px;">
    <%= link_to_remove_association "Remove Module Group", f %>
  </div>
     <div class="page-header additional-info" style="margin: 0px;margin-bottom:20px;"></div>
</div>
