<!-- A template for editing a year_structure
Contains its groups and the ability modify or delete each one
Also contains nested group forms to give the ability to create new groups in-place within year structure form
To modify this file access the partials within


Toolbox partial takes several locals. Each helps in specifying format of how a form is exported for this type form.
Can easily be adjusted to preference. I.e to remove a attribute from resulting export, add to the attribute name
to the blacklist_attributes string.
Note: Both blacklist and entity attributes are strings when each attribute is separated by
comma. This is so it can be passed to javascript, to be used.
-->

<% provide :title, 'Edit Year Structure' %>
<% provide :submit_button_text, 'Update' %>

<!--header of edit page-->
<header class="header">
  <!--main header-->
  <h1> Edit <%= @year_structure.to_s %> of <a href="<%= admin_course_path(@year_structure.course) %>">
    <%= @year_structure.course.name %></a> <%= @year_structure.course.year %>
  </h1>
  <div class="header__actions">

    <!--tool box-->
    <%= render(:partial => 'admin/application/edit_toolbox_buttons',
               :locals => {:object => YearStructure.find(params[:id]),
                           :name_of_file => YearStructure.find(params[:id]).course.name+"_year"+YearStructure.find(params[:id]).year_of_study,
                           :blacklist_attributes => "",
                           :entity_attributes => "Course",
                           :has_many_attributes => ["groups"],
                           :back_button => false}) %>

    <!--back button-->
    <%= link_to "<i class='fa fa-angle-left' aria-hidden='true'></i>&nbsp;&nbsp;Back".html_safe,
                edit_admin_course_path(@year_structure.course.id), class: "button tool-box",
                style: "padding-top: 11px;padding-bottom: 11px;" %>

  </div>
</header>




<!--form render-->
<%= render 'form', :action => "Update" %>
