<% provide :title, 'Edit Year Structure' %>
<% provide :submit_button_text, 'Update' %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= render(:partial => 'admin/application/edit_toolbox_buttons',
               :locals => {:object => YearStructure.find(params[:id]),
                           :name_of_file=>YearStructure.find(params[:id]).course.name+"_year"+YearStructure.find(params[:id]).year_of_study,
                           :blacklist_attributes=>"",
                           :entity_attributes=>"Course",
                           :has_many_attributes=>["groups"]})%>
  </div>
</header>

<h1>
  Edit <%= @year_structure.to_s %> of <a href="<%= admin_course_path(@year_structure.course) %>">
    <%= @year_structure.course.name %></a> <%= @year_structure.course.year %>
</h1>


<div id="landing" style="margin-left:10px;">
  <div class="row" style="margin-top:20px;">



    <div class="row field-unit groups" >
       <div class="col-xs-12">
          <div class="field-unit__label">
             <label style="font-size: 19px"> Groups belonging to this year structure  <a class="help-tooltip" style="font-size:14px" data-toggle="tooltip"  data-placement="right"
               title="Each year structure contains a set of groups where each contains modules i.e first term is a group. The students will pick modules for each group to satisfy required total credits. ">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
          </div>
          <div class="field-unit__field">
            <div id="landing" style="margin-left:10px;">
              <div class="row" style="margin-top:20px;">
                <% @year_structure.groups.each do |group| %>
               <div class="col-md-4 text-center" style = "padding-left:0px; margin-bottom:0px;">
                 <div class="col-md-12 login-card">
                   <div class="col-md-12">
                     <div class="icon-row"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                     <div>
                       <h3><%= group.name %></h3>
                       <h5 style="margin-top: 20px">Total credits: <%= group.total_credits %></h5>
                     </div>
                     <div>
                       <div style="margin-top: 30px;padding-left:0px">
                         <div class="form-group">
                           <a href="<%= edit_admin_group_path(group)%>" class="btn btn-lg" style="font-size: 15px; box-shadow:none"><span>Modify ></span></a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
               <% end %>
               <% @year_structure.present? || @year_structure.empty? ? "None yet (add groups below)":''%>
              </div>
            </div>

          </div>
       </div>
    </div>

  </div>
</div>

<%= render 'form',:action=>"Update" %>
