<!-- Renders a form which is displayed in both the edit and new notice form

note: renders of fields belong in in admin/application/fields. For some fields there exists no partials
because of such fields being such rare instances. If you require a field to adapted, copy the partial over replacing the render
statement .

see partial fields for additional documentation
-->

<!--Helper which prints error message of current object if there is any on to screen(does nothing, if none)-->
<%= error_messages_for(f.object) %>



<!--renders attributes-->
<% path_of_field_store = "admin/application/fields/" %>

<!--name field-->
<%= render path_of_field_store+"string_form_field", :f => f,
           :name => :title,
           :label => :notice_title %>



<!--renders notice body field -->
<%= render path_of_field_store+"textarea_form_field", :f => f,
           :name => :notice_body,
           :label => "Notice description",
           :tooltip => "The body of text defined here is what will be shown to every student in this department on their home page" %>


<div class="row field-unit field-unit--date">
  <div class="col-xs-12">
    <div class="field-unit__field">
      <div class='col-md-6' style="padding: 0px">
        <label for="live-date"> Start live date
          <a class="help-tooltip" data-toggle="tooltip" data-placement="right"
             title="The start date which this notice will appear and become active. If date entered is prior or the same to current date, then notice will be active immediately">[<i class="fa fa-question" aria-hidden="true"></i>]
          </a>
        </label>
        <%= f.date_field :live_date %>
        </div>
      </div>
      <div class='col-md-6'>
        <label for="end-date"> Expire date
          <a class="help-tooltip" data-toggle="tooltip" data-placement="right"
             title="The date in which this notice will no longer be displayed and active. This is optional and if no input is entered, then the notice will never expire">[<i class="fa fa-question" aria-hidden="true"></i>]
          </a>
        </label>
        <%= f.date_field :end_date %>
        </div>
      </div>
    </div>
  </div>
</div>


<!--url field-->
<%= render path_of_field_store+"string_form_field", :f => f,
           :name => :optional_link,
           :tooltip => "This is displayed to the user along side the notice as a button" %>



<div class="row field-unit compulsory">
  <div class="col-xs-12">
    <div class="field-unit__label">
      <%= f.check_box :broadcast, {style: "margin-right: 4px"} %>
      <label for="broadcast" style="margin-right: 50px"> Broadcast?
        <a class="help-tooltip" data-toggle="tooltip" data-placement="right"
           title="If broadcast is set to true, then the notice will be active and live">[<i class="fa fa-question" aria-hidden="true"></i>]
        </a>
      </label>

      <%= f.check_box :auto_delete, {style: "margin-right: 4px"} %>
      <label for="broadcast"> Automatically delete this notice at expiry date?
        <a class="help-tooltip" data-toggle="tooltip" data-placement="right"
           title="Auto-delete the notice from the database when the expiry date is reached, to prevent build-up of data">[<i class="fa fa-question" aria-hidden="true"></i>]
        </a>
      </label>
    </div>
  </div>
</div>

<!--date fields-->




<!--submit button-->
<div class="form-actions">
  <button type="submit" name="commit"><i class='fa fa-floppy-o' aria-hidden='true'></i>&nbsp;&nbsp;<%= action %>
    Notice
  </button>
</div>

<script>
    //intialize selectize plugin for select fields
    $(function () {
        intializeSelectize()
    });
</script>

