<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>

    <% if page.resource && page.resource.errors.size > 0 %>
        <div id="error-box" class="flash-alert flash-alert-error">
          <h3><%= pluralize(page.resource.errors.size, "error") %> prohibited this record from being saved</h3>
          <p>There were problems with the following fields:</p>
          <ul>
            <% page.resource.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>7
            <% end %>
          </ul>
        </div>
    <% end %>

  <% page.attributes.each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
