<!-- Renders a complete form for course which is displayed within edit and new course form

Contains: Helper which prints error message of current object if there is any on to screen(does nothing, if none).
Also contains render which iterates through the course year_structures and makes a card for each.
A form with several field partials within which allows for the manipulation of @course object.
Also contains a link to allow for the creation of pathways.

To modify this file access the partials within
-->

<%= form_for [:admin, @course] do |f| %>


    <!--error message-->
    <%= error_messages_for(f.object) %>

    <% if action == "Update" %>
        <%= render 'admin/application/course-partials/year_structures_set' %>
    <% end %>

    <% if Course.exists?(@course) %>
        <!--pathway card -->
        <label style="font-size: 19px;margin: 20px 0px;"> Modify the pre-defined pathways for this course
          <a class="help-tooltip" style="font-size:14px" data-toggle="tooltip" data-placement="right"
             title="Pathways are admin-defined pools of optional modules for associated careers and matchings. It is to be used by the student as a indicator of what modules to pick. ">
            [<i class="fa fa-question" aria-hidden="true"></i>]</a></label>

        <div class="col-md-12 text-center" style="padding: 0px">
          <div class="col-md-12 login-card">
            <div class="col-md-12">
              <div class="icon-row"><i class="fa fa-list-ul" aria-hidden="true"></i></div>
              <div>
                <h3>Course Pathways</h3>
                <h5 style="margin-top: 20px">
                  Pathways: <%= @course.pathways.count %>
                </h5>
              </div>
              <div>
                <div style="margin-top: 30px;padding-left:0px">
                  <div class="form-group">
                    <a id="manage-pathways" href="<%= admin_course_pathway_path(@course.id) %>" class="btn btn-lg"><span>Manage</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <label class="col-md-12" style="font-size: 19px;margin: 20px 0px; padding-left: 0px"> Modify course
          structure</label>
    <% end %>


    <% path_of_field_store = "admin/application/fields/" %>


    <!--name field-->
    <%= render path_of_field_store + "string_form_field", :f => f,
               :name => :name %>


    <!--course's departments field-->
    <div class="row field-unit  departments">
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :departments_of_course %>
        </div>
        <div class="field-unit__field select-departments">
          <%= f.select :department_ids, Department.all.collect { |x| [x.name, x.id] }, {},
                       :multiple => true, class: 'selectize' %>
        </div>
      </div>
    </div>

    <!--beginning field year -->
    <%= render path_of_field_store + "number_form_field", :f => f,
               :name => :year,
               :label => "Beginning year",
               :tooltip => "The beginning year of the university teaching this course. If the course ready existed prior,
        then a rough estimate is sufficent. This year is to be used as an alias to differentiate between several courses with same name.",
               :options => {default: Date.current.year} %>


    <!--description field -->
    <%= render path_of_field_store + "textarea_form_field", :f => f,
               :name => :description,
               :tooltip => "Introduction explaining what this course is,
                and why students might be intrested in taking it." %>


    <!--duration in years field -->
    <div class="col-xs-12">
      <div class="row field-unit duration_in_years">
        <div class="field-unit__label">
          <label for="duration_in_years">Duration in years
            <a class="help-tooltip" data-toggle="tooltip" data-placement="right"
               title="The total amount of years this course will last for.
               The duration determines how many year structures (year-slots consisting of modules)
                is given to this course.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
        </div>
        <div class="field-unit__field">
          <%= f.select(:duration_in_years, options_for_select(1..9, @course.duration_in_years),
                       {:include_blank => true}, {:class => 'selectize'}) %>
        </div>
      </div>
    </div>

    <!--submit button-->
    <div class="form-actions">
      <button type="submit" name="commit"><i class='fa fa-floppy-o' aria-hidden='true'></i>&nbsp;&nbsp;<%= action %>
        Course
      </button>
    </div>

<% end %>

<script>
    //intialize selectize plugin for select fields
    $(function () {
        intializeSelectize()
    });
</script>
