<%= form_for [:admin, @course] do |f| %>


    <!--Helper which prints error message of current object if there is any on to screen(does nothing, if none)-->
    <%= error_messages_for(f.object) %>

    <!--prints all year_structures realated to this course in card format-->
    <% if action == "Update" %>
        <%= render 'admin/application/course-partials/year_structures_set' %>
    <% end %>


    <!--renders attributes-->
    <% path_of_field_store = "admin/application/fields/" %>

    <!--name field-->
    <%= render path_of_field_store+"string_form_field", :f => f,
               :name => :name %>

      <!--course's departments field-->
    <div class="row field-unit  departments">
      <div class="col-xs-12">
        <div class="field-unit__label">
          <%= f.label :departments_of_course %>
        </div>
        <div class="field-unit__field select-departments">
          <%= f.select :department_ids, Department.all.collect { |x| [x.name, x.id] }, {},
                       :multiple => true, class: 'selectize' %>
        </div>
      </div>
    </div>

    <!--renders beginning field year -->
    <%= render path_of_field_store+"number_form_field", :f => f,
               :name => :year,
               :label => "Beginning year",
               :tooltip => "The beginning year of the university teaching the course. If the course ready existed prior,
        then a rough estimate is sufficent.",
               :options => {default: Date.current.year} %>


    <!--renders description field -->
    <%= render path_of_field_store+"textarea_form_field", :f => f,
               :name => :description,
               :tooltip => "Introduction explaining what this course is,
                and why students might be intrested in taking it." %>


    <!--renders duration in years field -->
    <div class="col-xs-12">
      <div class="row field-unit duration_in_years">
        <div class="field-unit__label">
          <label for="duration_in_years">Duration in years
            <a class="help-tooltip" data-toggle="tooltip" data-placement="right"
               title="The total amount of years this course will last for.
               The duration determines how many year structures (year-slots consisting of modules)
                is given to this course.">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
        </div>
        <div class="field-unit__field">
          <%= f.select(:duration_in_years, options_for_select(1..9, @course.duration_in_years),
                       {:include_blank => true}, {:class => 'selectize'}) %>
        </div>
      </div>
    </div>

    <!--submit button-->
    <div class="form-actions">
      <button type="submit" name="commit"><i class='fa fa-floppy-o' aria-hidden='true'></i>&nbsp;&nbsp;<%= action %>user</button>
    </div>

<% end %>


<script>
    //intialize selectize plugin for select fields
    $(function () {intializeSelectize()});
</script>
