<!-- A template for editing a course
Contains its year structures in the format of cards
Also contains fields which corresponds to a particular course's attributes


Toolbox partial takes several locals. Each helps in specifying format of how a form is exported for this type form.
Can easily be adjusted to preference. I.e to remove a attribute from resulting export, add to the attribute name
to the blacklist_attributes string.
Note: Both blacklist and entity attributes are strings when each attribute is separated by
comma. This is so it can be passed to javascript, to be used.
-->

<% provide :title, "Edit #{Course.find(params[:id]).name}" %>
<% provide :submit_button_text, 'Update' %>


<header class="header">
  <h1 ><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!--toolbox-->
    <%= render(:partial => 'admin/application/edit_toolbox_buttons',
               :locals => {:object => Course.find(params[:id]),
                           :name_of_file=>Course.find(params[:id]).name.to_s,
                           :blacklist_attributes=>"",:entity_attributes=>"",
                           :has_many_attributes=>["uni_modules"],
                 :back_button => false })%>
    <!--back button-->
    <%= link_to "<i class='fa fa-angle-left' aria-hidden='true'></i>&nbsp;&nbsp;Back".html_safe,
                admin_courses_path, class: "button tool-box", style: "padding-top: 11px;padding-bottom: 11px;" %>
  </div>
</header>

<div id="landing" style="margin-left:10px;">
  <div class="row" style="margin-top:20px;">
    <% @course.year_structures.each_with_index do |year_structure, index| %>
      <% if index < @course.duration_in_years %>

        <div class="col-md-4 text-center">
          <div class="col-md-12 login-card">
            <div class="col-md-12">
              <div class="icon-row"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
              <div>
                <h3><%= year_structure.year_of_study.titleize %></h3>
                <h5 style="margin-top: 20px">
                 <% if !year_structure.groups_existent? %>
                   <%= render partial: "admin/layouts/index_warning", locals: {message: "No modules have been given for this year", 
                                                                               destination: edit_admin_year_structure_path(year_structure) } %>
                <% end %>
                  Module groups: <%= year_structure.groups.count %>
                </h5>
              </div>
              <div>
                <div style="margin-top: 30px;padding-left:0px">
                  <div class="form-group">
                    <a id="modify-<%= index + 1 %>" href="<%= edit_admin_year_structure_path(year_structure) %>" class="btn btn-lg"><span>Modify ></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>
        <div class="col-md-4 text-center">
          <div class="col-md-12 login-card">
            <div class="col-md-12">
              <div class="icon-row"><i class="fa fa-list-ul" aria-hidden="true"></i></div>
              <div>
                <h3>Course Pathways</h3>
                <h5 style="margin-top: 20px">
                
                  Pathways: <%= @course.pathways.count %>
                </h5>
              </div>
              <div>
                <div style="margin-top: 30px;padding-left:0px">
                  <div class="form-group">
                    <a id="manage-pathways" href="<%= admin_course_pathway_path(@course.id) %>" class="btn btn-lg"><span>Manage</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>


<!--render of fields which relate to a course's attributes-->
<%= render 'form',:action =>"Update" %>
