<% provide :title, "Edit #{@course.name}" %>
<% provide :submit_button_text, 'Update' %>


<div class="row">
  <div class="col-md-1" %>
    <a href="<%= admin_courses_path %>">
      <i class="fa fa-arrow-circle-left fa-5x1" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-11 text-center">
    <h1>Edit <%= @course.name %></h1>
  </div>
</div>

<div id="landing" style="margin-left:10px;">
  <div class="row" style="margin-top:20px;">
    <% @course.year_structures.each do |year_structure| %>
    <div class="col-md-4 text-center">
      <div class="col-md-12 login-card">
        <div class="col-md-12">
          <div class="icon-row"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
          <div>
            <h3><%= year_structure.year_of_study.titleize %></h3>
            <h5 style="margin-top: 20px">Module groups: <%= year_structure.groups.count %></h5>
          </div>
          <div>
            <div style="margin-top: 30px;padding-left:0px">
              <div class="form-group">
                <a href="<%= edit_admin_year_structure_path(year_structure) %>" class="btn btn-lg"><span>Modify ></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'form' %>
