<% provide :title, "Edit #{Course.find(params[:id]).name}" %>
<% provide :submit_button_text, 'Update' %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= render(:partial => 'admin/application/edit_toolbox_buttons', :locals => {:object => Course.find(params[:id]),:name_of_file=>Course.find(params[:id]).name.to_s,:blacklist_attributes=>"",:entity_attributes=>""})%>
  </div>
</header>

<div id="landing" style="margin-left:10px;">
  <div class="row" style="margin-top:20px;">
    <% @course.year_structures.each_with_index do |year_structure, index| %>
      <% if index < @course.duration_in_years %>
        <div class="col-md-4 text-center">
          <div class="col-md-12 login-card">
            <div class="col-md-12">
              <div class="icon-row"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
              <div>
                <h3><%= year_structure.year_of_study.titleize %></h3>
                <h5 style="margin-top: 20px">Module groups: <%= year_structure.groups.count %></h5>
              </div>
              <div>
                <div style="margin-top: 30px;padding-left:0px">
                  <div class="form-group">
                    <a href="<%= edit_admin_year_structure_path(year_structure) %>" class="btn btn-lg"><span>Modify ></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'form' %>
