<!DOCTYPE html>
<html>
   <head>
      <title><%= full_title( yield(:title) ) %></title>
      <%= render 'layouts/rails_defaults' %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://use.fontawesome.com/bbc851b668.js"></script>
      <%= favicon_link_tag 'favicon.ico' %>
      <script>
         var $=jQuery.noConflict();
         
         $(document).ready(function(){
          setTimeout(fade_out, 5000);
             function fade_out() {
               $("#flash-container").fadeOut().empty();
               $("#flash-container").css("margin-bottom", "0px");
             }
         });
      </script>
   </head>
   <body>
      <%= render 'layouts/header' %>
      <div class="modulect-container">

      <% if logged_in? && !app_settings.is_offline && current_user.user_level == "user_access" && (current_user.faculty_id.nil? || current_user.department_id.nil? || current_user.course_id.nil? || current_user.course_id == "" ) %>
         <style>#flash-container{margin-top: 0px;}</style>
         <div class="container" style="margin-top:15px;">
            <div class="row">
               <div class="col-md-12">
                  <div class="flash-alert flash-alert-notice">
                     <i class="fa fa-info" aria-hidden="true"></i>
                     <span>You haven't yet provided your faculty, department or course information yet. <%= link_to "Add now >", edit_user_path(current_user),method: :get %></a></span>
                  </div>
               </div>
            </div>
         </div>
         <% end %>

          <% if app_settings.is_offline && controller_name != "errors" %>
         <style>#flash-container{margin-top: 0px;}</style>
         <div class="container" style="margin-top:15px;">
            <div class="row">
               <div class="col-md-12">
                  <div class="flash-alert flash-alert-notice">
                     <i class="fa fa-info" aria-hidden="true"></i>
                     <span>Modulect is currently offline as has been set in the settings. <%= link_to "Change >", admin_settings_path,method: :get %></a></span>
                  </div>
               </div>
            </div>
         </div>
         <% end %>
         <%= render 'layouts/flash' if !flash.empty? %>


         <%= yield %>
         <%= render 'layouts/after_content' %>
      </div>
      </div>
      <%= render 'layouts/footer' %>
      </div>
   </body>
</html>
</html>