<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_defaults' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/bbc851b668.js"></script>
    <%= favicon_link_tag 'favicon.ico' %>
    <script>
      var $=jQuery.noConflict();
      
      $(document).ready(function(){
       setTimeout(fade_out, 5000);
          function fade_out() {
            $("#flash-container").fadeOut().empty();
            $("#flash-container").css("margin-bottom", "0px");
          }
      });
  </script>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <div class="modulect-container">
        <%= render 'layouts/flash' if !flash.empty? %>
        <%= yield %>
        <%= render 'layouts/after_content' %>
        </div>
      </div> 
      <%= render 'layouts/footer' %> 
    </div>
  </body>
</html>

</html>
