<!DOCTYPE html>
<html>
  <head>
    <title>ProjectRun</title>
    <%= render 'layouts/rails_defaults' %>
  </head>

  <body>

  <%= render 'layouts/header' %> 
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %> 
  </body>
</html>
